<div class="header-content" layout="row" ng-controller="NavigationController">
    <div flex="nogrow">
        <md-button class="button" layout="column" style="pointer-events: none" aria-label="naghshara Logo" md-no-ink>
            <img class="image" style="width:50px;height:50px" src="assets/img/logo/logo.png" alt="Logo" />
            <div class="text message" style="font-size: 9px"> دژافزار</div>
        </md-button>
    </div>
    <div flex="nogrow">
        <md-button class="button fab navigate" ng-click="Navigate()" aria-label="Search">
            <md-icon class="icon" md-font-library="material-icons">menu</md-icon>
        </md-button>
    </div>
    <div class="avatar" flex="nogrow">
        <md-button class="button avatar"  ui-sref="panel.profile()" aria-label="DigiPeyk Logo" md-no-ink>
            <img class="img avatar" ng-src="{{user.info.username ? avatarDir + user.info.username + '?t=' + (today | date : 'sssdy') : 'assets/img/icons/avatar-dark.png' }} "
                 onerror="this.src='assets/img/icons/avatar-dark.png'"
                 check-image="assets/img/icons/avatar-dark.png" alt="User Avatar">
        </md-button>
    </div>
    <div class="col" flex="nogrow" hide-gt-xs>
        <div layout="column">
            <div class="text bold">{{user.info.firstname + ' ' + user.info.lastname}}</div>
            <div class="text">{{user.activeRole.name}}</div>
        </div>
    </div>
    <div class="col" flex="nogrow" layout="column" layout-align="center start" hide-xs>
        <div class="text head name" ui-sref="panel.profile()" style="cursor: pointer">{{user.info.firstname + ' ' +
            user.info.lastname + ' خوش آمدید  !'}}
        </div>
        <div class="text mini-size role" ui-sref="panel.profile()" style="cursor: pointer">{{user.activeRole.name}}
        </div>
    </div>
    <div flex hide-xs></div>
    <div class="info" layout="column" flex="nogrow" hide-xs layout-align="center center">
        <md-button class="login" ng-click="goToHome()">
            <img src="assets/img/icons/return.png"/>
            <md-tooltip md-direction="down"> بازگشت به صفحه ی اصلی</md-tooltip>
        </md-button>






        </div>
    </div>

</div>