<div class="header-content" layout="row" ng-controller="NavigationController">
    <div flex="nogrow">
        <md-button class="button" style="pointer-events: none"  aria-label="DigiPeyk Logo" md-no-ink>
            <img class="image" src="assets/img/logo/logo-digipeyk-light.png" alt="DigiPeyk Logo"/>
        </md-button>
    </div>
    <div flex="nogrow">
        <md-button class="button fab navigate" ng-click="Navigate()" aria-label="Search">
            <md-icon class="icon" md-font-library="material-icons">menu</md-icon>
        </md-button>
    </div>
    <div flex="nogrow" hide-gt-xs>
        <div layout="column">
            <div class="text bold">دیجی پیک</div>
            <div class="text">تجربه ارسالی هوشمند</div>
        </div>
    </div>
    <div flex="nogrow" layout="row" hide-xs>
        <div class="text head">مدیر سیستم</div>
    </div>
    <div flex hide-xs></div>
    <div flex="nogrow" hide-xs>
        <form class="search-form" name="headerTrackingForm">
            <md-input-container md-no-float>
                <input name="tracking" ng-model="identifier" ng-pattern="/^[a-zA-Z0-9]{6}$/" placeholder="ردیابی کالا">
            </md-input-container>
            <md-button class="button" ng-click="TrackingSubmit()" ng-href="{{url}}" target="_blank" aria-label="Search">
                <md-icon ng-hide="headerTrackingForm.lock" class="icon search" md-font-library="material-icons">search</md-icon>
                <md-progress-circular class="spinner dark" md-mode="indeterminate" md-diameter="30" ng-hide="!headerTrackingForm.lock"></md-progress-circular>
            </md-button>
        </form>
    </div>
</div>