#navigation{
    position: relative;
    width: 100%;
    height: 73px;
    min-height: 73px;
    /*background: linear-gradient(to bottom, #25252591, #2f2f2f94, #2b2b2ba8);*/
    /*box-shadow: 0 1px 16px 2px;*/
    /*background: #0000009e;*/
    /*background: #101010;*/
    z-index: 9;
}
#navigation #header{
    position: fixed;
    position: fixed;
    width: 100%;
    height: 73px;
    padding: 5px 3%;
    margin: 0;
    top: 0;
    right: 0;
    left: unset;
    color: #fff;
    z-index: 3;
    /* background: linear-gradient(to bottom, #b3b1b1, #a5a5a5, #a7a7a7cc); */
    box-shadow: 0px 3px 4px 0 #2f2f2fa6;
    background-size: contain;
    background-color: #464646;
}
#header .info .text.clock{
    font-weight: 100;
    min-width: 142px;
    text-align: center;
    left: initial;
    color: #fff;
    border-radius: 4px;
    background-color: #f5f5f517;
    box-shadow: inset 0 1px 6px #292727;
    cursor: default;
}
#header .header-content{
    width: 100%;
    height: 100%;
    /*overflow: hidden;*/
}
#header .button.fab{
    width: 50px;
    height: 50px;
}
#header .button.navigate{
    margin: 0 15px;
}
#header .button.action{
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    line-height: 30px;
}
#header .avatar .button.avatar{
    width: 63px;
    height: 63px;
    overflow: visible;
    border-radius: 50%;
}
#header .img.avatar {
    width: 63px;
    height: 100%;
    border-radius: 50%;
    padding: 0;
    box-shadow: 0 -1px 5px 2px #1f1f1f;
    z-index: 9;
}
#header .notification .img.avatar {
    min-height: 35px;
    min-width: 35px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    padding: 0;
    box-shadow: none;
    z-index: 9;
    border: 1px solid #7f7f7f;
}

#header .text{
    font-size: 12px;
}
#header .icon.search{
   padding-top:5px;
}
#header .text.bold{
    font-size: 14px;
}
#header .text.head{
    font-size: 14px;
    margin: 0;
}
#header .text.role{
    color: #209e91;
    font-weight: 900;
    text-shadow: 0 0 1px #000;
}
#header form.switch-form{
    margin: 10px 0;
}
#header form.switch-form .button{
   height: 40px;
   width: 40px;
}
#header form.switch-form .button .icon{
    font-size: 30px;
    width: 100%;
    height: 100%
}


#header .info .md-button.login{
    width: 40px;
    height: 40px;
    min-width: 40px;
    margin: 0;
    border-radius: 50%;
    box-shadow: 0 1px 1px #000;
    padding: 2px;
    background-color: #fff;
    min-height: 40px;
}
#header .info .md-button.login img{
    height: 100% ;
    width: auto ;
}

#sidenav .img.avatar {
    height: 110px;
    width: 110px;
    border-radius: 50%;
    padding: 0;
    box-shadow: 0 -1px 5px 2px #1f1f1f;
    overflow: visible;
    z-index: 99;
}
#sidenav .sidenav-content{
    height: 100%;
}
#sidenav .sidenav-head{
    padding: 20px;
    background: #485563;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#sidenav .sidenav-head .image{
    height: 100px;
    overflow: hidden;
    border: 2px solid #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
#sidenav .sidenav-head .text{
    width: 100%;
    padding-left: 0;
    padding-right: 15px;
    font-size: 12px;
    color: #fff;
}
#sidenav .sidenav-head .text.head{
  font-weight: 800;
    font-size: 15px;
    margin:0;
}
#sidenav .sidenav-head .text.mini-size{

}
#sidenav .sidenav-head .text.bold{
    font-size: 14px;
}
#sidenav .sidenav-footer{
    padding-bottom: 20px;
    text-align: center;
}
#sidenav .sidenav-footer .text{
    margin: 0;
    font-size: 10px;
    line-height: 20px;
}
#sidenav .sidenav-footer span.text{
    display: inline-block;
    color: #2DA8FF;
}
#sidenav .sidenav-footer span.text::after{
    content: '©';
    font-size: 12px;
    margin: 0 2px 0 0;
    color: rgba(0,0,0,0.87);
    vertical-align: super;
}
#sidenav form.search-form{
    margin: 20px 0 0;
}

#sidenav .menu .button.hover{
    color: #3b3a3a;
}
#sidenav .menu .button.active:hover {
    color: #3b3a3a !important;
}
#sidenav .button.hover:hover .icon {
    color: #209e91 !important;
}
#sidenav .icon.ion-icons.flip_y{
    float: left;
    margin-top:-5px;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    -webkit-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -ms-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
    transition:all 0.5s ease;

}
#sidenav .icon.ion-icons.flip_y.transform{
    margin-top:5px;
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}
/* LTR Support */
[dir=ltr] #navigation #header{
    left: 0;
    right: unset;
}
[dir=ltr] #sidenav .sidenav-head .text{
    padding-left: 15px;
    padding-right: 0;
}
[dir=ltr] #sidenav .sidenav-footer span.text::after{
    margin: 0 0 0 2px;
}
#sidenav .vAccordion--sidenav[data-simplebar="init"]{
    display: inherit;
}
#sidenav .vAccordion--sidenav v-pane-content > div{
    background-color: #ededed99;
    border-top: 1px solid #aeaeae80;
    border-bottom: 1px solid #ababab80
}
/*#sidenav button[class~=hover] > div[class~=icon]{*/
    /*filter: brightness(200%);*/
/*}*/


@-webkit-keyframes header_bounce {
    0%, 100%, 20%, 53%, 80% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        -webkit-transform: translate3d(3px, -3px, 0);
        -ms-transform: translate3d(3px, -3px, 0);
        transform: translate3d(3px, -3px, 0);
    }
    40%, 43% {
        -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(3px, -15px, 0);
        -ms-transform: translate3d(3px, -15px, 0);
        transform: translate3d(3px, -15px, 0);
    }
    70% {
        -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(3px, -10px, 0);
        -ms-transform: translate3d(3px, -10px, 0);
        transform: translate3d(3px, -10px, 0);
    }
    90% {
        -webkit-transform: translate3d(3px, -4px, 0);
        -ms-transform: translate3d(3px, -4px, 0);
        transform: translate3d(3px, -4px, 0);
    }
}