#navigation{
    position: relative;
    width: 100%;
    height: 73px;
}
#navigation #header{
    position: fixed;
    width: 100%;
    height: 73px;
    padding: 10px 5%;
    margin: 0;
    top: 0;
    right: 0;
    left: unset;
    color: #fff;
    border-bottom: 3px solid #078f6f;
    background-color: #0abd93;
    z-index: 3;
}
#header .header-content{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#header .button.fab{
    width: 50px;
    height: 50px;
}
#header .button.navigate{
    margin: 0 15px;
}
#header .button.action{
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    line-height: 30px;
}
#header .text{
    font-size: 12px;
}
#header .icon.search{
   padding-top:5px;
}
#header .text.bold{
    font-size: 14px;
}
#header .text.head{
    font-size: 14px;
    line-height: 50px;
    margin: 0;
}
#sidenav .sidenav-content{
    height: 100%;
}
#sidenav .sidenav-head{
    padding: 20px;
    background-color: #3E4F5C;
}
#sidenav .sidenav-head .image{
    height: 100px;
    overflow: hidden;
    border: 2px solid #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
#sidenav .sidenav-head .text{
    width: 100%;
    padding-left: 0;
    padding-right: 15px;
    font-size: 12px;
    color: #fff;
}
#sidenav .sidenav-head .text.bold{
    font-size: 14px;
}
#sidenav .sidenav-footer{
    padding-bottom: 20px;
    text-align: center;
}
#sidenav .sidenav-footer .text{
    margin: 0;
    font-size: 10px;
    line-height: 20px;
}
#sidenav .sidenav-footer span.text{
    display: inline-block;
    color: #2DA8FF;
}
#sidenav .sidenav-footer span.text::after{
    content: '©';
    font-size: 12px;
    margin: 0 2px 0 0;
    color: rgba(0,0,0,0.87);
    vertical-align: super;
}
#sidenav form.search-form{
    margin: 20px 0 0;
}

/* LTR Support */
[dir=ltr] #navigation #header{
    left: 0;
    right: unset;
}
[dir=ltr] #sidenav .sidenav-head .text{
    padding-left: 15px;
    padding-right: 0;
}
[dir=ltr] #sidenav .sidenav-footer span.text::after{
    margin: 0 0 0 2px;
}