<div id="datepicker" class="card" layout="column">
    <div class="card-head" flex="nogrow"> {{options.title ? options.title : 'انتخاب تاریخ'}}
        <md-button class="button finger fab close" ng-click="reject()">
            <md-icon class="icon" md-font-library="material-icon">close</md-icon>
        </md-button>
    </div>
    <input id="dateAlt"/>
    <div class="date"></div>
    <div class="actions">
        <md-button class="button reset" ng-click="reset()" aria-label="reset Form">
            <span> بازنشانی </span>
        </md-button>
        <md-button type="submit" class="button primary" ng-click="submit()" aria-label="submit Form">
            <span> ثبت </span>
        </md-button>
    </div>
</div>