#datepicker{
    min-width: 385px;
    max-width: 385px;
}
#datepicker #dateAlt{
    text-align: center;
    font-size: 13px;
}
#datepicker .actions{
    text-align: center;
    padding: 8px 0 0 0;
}
#datepicker .actions .button{
    width: 140px;
}
#datepicker .actions .button.reset{
    background-color: #e82828 !important;
    color: #fff;
}