<md-sidenav class="md-sidenav-right" md-component-id="navigation">
    <div class="sidenav-content" ng-controller="NavigationController" layout="column">
        <div class="sidenav-head" flex="nogrow" layout="column">
            <div layout="row" layout-align="start center" flex>
                <img class="image" flex="nogrow" src="assets/img/icons/avatar-dark.png" alt="User Avatar"/>
                <div class="text" flex>مدیر سیستم</div>
            </div>
            <div flex="nogrow" hide-gt-xs>
                <form class="search-form" name="sidenavTrackingForm" layout="row" form-validation="{submit: TrackingSubmit, reset: TrackingReset, invalid: TrackingInvalid, pristine: TrackingPristine}">
                    <md-input-container md-no-float flex>
                        <input name="tracking" ng-model="tracking" ng-pattern="/^[a-zA-Z0-9]{6}$/" placeholder="ردیابی کالا">
                    </md-input-container>
                    <div flex="nogrow">
                        <md-button class="button" type="submit" aria-label="Search">
                            <md-icon ng-hide="sidenavTrackingForm.lock" class="icon" md-font-library="material-icons">search</md-icon>
                            <md-progress-circular class="spinner dark" md-mode="indeterminate" md-diameter="30" ng-hide="!sidenavTrackingForm.lock"></md-progress-circular>
                        </md-button>
                    </div>
                </form>
            </div>
        </div>

        <md-content class="sidenav-menu menu" layout="column" flex="auto">
            <md-button ng-repeat="item in menu.user track by $index" class="button hover" ui-sref-active="active" ui-sref="{{item.sref}}">
                <md-icon ng-if="item.icon.type == 'material'" class="icon" ng-class="{{item.class}}" font-icon-library="material-icons">{{item.icon.text}}</md-icon>
                <md-icon ng-if="item.icon.type == 'ion'" class="icon ion-icons" md-font-icon="{{item.icon.text}}"></md-icon>
                <span class="text">{{item.text}}</span>
            </md-button>
        </md-content>
        <div class="sidenav-footer" layout="column" layout-align="center center" flex="nogrow">
            <img src="assets/img/logo/logo.png" alt="dezhafzar logo" style="height: 55px;width: 55px">
            <div class="text mini-size">  تمامی حقوق برای شرکت <span class="text mini-size highlight"> دژافزار </span> محفوظ است.</div>
        </div>
    </div>
</md-sidenav>