/* Content Structure */
* {
    box-sizing: border-box;
    font-family: ISN, IS, "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: none;
}
input{
    font-family: ISN, IS, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
html, body{
    background-color: #f0f0f0;
}
img{
    font-size: 0;
    color: transparent;
}
#wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}

/* Common - General */
.flip-x{
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
}
.flip-y{
    -webkit-transform: scaleY(-1);
    -moz-transform: scaleY(-1);
    -ms-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    transform: scaleY(-1);
}
.card{
    position: relative;
    margin-bottom: 10px;
    border-radius: 2px;
    overflow: hidden;
}
.card .card-head {
    /*height: 40px;*/
    /*line-height: 40px;*/
    /*padding: 0 20px;*/
    /*color: #ffffff;*/
    /*background-color: #738491;*/
    /*-webkit-user-select: none;*/
    /*-moz-user-select: none;*/
    /*-ms-user-select: none;*/
    /*user-select: none;*/
    height: 40px;
    min-height: 40px;
    max-height: 40px;
    line-height: 40px;
    padding: 0 20px;
    color: #ffffff;
    background-color: #1f5c9c;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-shadow: inset 0 0 0 #adadad, inset 2px 0 6px #464646, inset -4px 0 0 #ffffff;
}
.card .card-section{
    padding: 5px 10px;
}
.section{
    position: relative;
    padding: 0 10px;
}
.section.light {
    background-color: #fff;
}
.section.dark{
    background-color: #3E4F5C;
}
.section.dark.transparent{
    background-color: rgba(62,79,92,.9);
}
.row{
    position: relative;
    padding: 0 15px;
}
.col{
    position: relative;
    padding: 0 8px;
}
.image{
    width: auto;
    height: 100%;
}
.image.fullwidth{
    width: 100%;
    height: auto;
}
.image.fab{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.icon{
    color: inherit;
}
.latin {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.bold{
    font-weight: bold;
}
.text{
    display: inline-block;
    font-size: 14px;
    color: inherit;
    text-decoration: none;
}
.text.mini-size{
    font-size: 12px;
}
.text.head{
    margin: 15px 0;
    font-size: 18px;
}
.text.link{
    font-size: 12px;
    color: #11a0ff;
    cursor: pointer;
}
.text.hint{
    opacity: .8;
    font-size: 9px !important;
}
.text.message{
    font-size: 9px;
    font-weight: bold;
    padding: 0;
}
.text.message.sample{
    color: #6e6e6e;
}
.text.context{
    display: inline;
    font-size: 12px;
}
.text.highlight{
    display: inline;
    line-height: 1.75;
    color: #16A784;
}
.button{
    margin: 0;
    padding: 0;
    min-width: unset;
    min-height: unset;
    font-size: 14px;
    line-height: inherit;
}
.button.fab{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.button.finger{
    width: 40px;
    height: 40px;
}
.button.transparent, .button.transparent:hover{
    background-color: transparent;
}
.button.primary, .button.primary:hover{
    background-color: #0ABD93 !important;
    color: #fff;
}
.button.secondary, .button.secondary:hover{
    background-color: #f2784b !important;
    color: #fff;
}
.button.tertiary, .button.tertiary:hover{
    background-color: #2DA8FF !important;
    color: #fff;
}
.button.hover .icon{
    color: #0ABD93 !important;
}
.button.hover:hover .icon{
    color: #f2784b !important;
}
.button[disabled=disabled], .button[disabled=disabled]:hover{
    background-color: #CFD8E1 !important;
    color: #363636;
}
.button .spinner{
    margin: 0 auto;
    -webkit-transform: scale(.75);
    -moz-transform: scale(.75);
    -ms-transform: scale(.75);
    -o-transform: scale(.75);
    transform: scale(.75);
}
.button .spinner.dark path{
    stroke: #078f6f;
}
.dark .icon, .dark .text{
    color: #fff !important;
}
.fullwidth{
    width: 100%;
}

.align-center{
    text-align: center !important;
}
/* Common - Table */
.card-section.list{
    padding: 0 0 40px;
    overflow: hidden;
}
.list .col, .list .text{
    font-size: 11px;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}
.list .list-head{
    background-color: #efefef;
    position: relative;
    z-index: 1;
    min-height: 35px;
}
.list .list-head .col{
    height: 40px;
    line-height: 40px;
    cursor: pointer;
}
.list .list-head .col .icon{
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 16px;
    text-align: center;
    margin: 0 5px;
    opacity: 0;
    -webkit-transition: opacity .3s, transform .3s;
    -moz-transition: opacity .3s, transform .3s;
    -ms-transition: opacity .3s, transform .3s;
    -o-transition: opacity .3s, transform .3s;
    transition: opacity .3s, transform .3s;
}
.list .list-head .col .icon.md-asc{
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
.list .list-head .col .icon.md-desc{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.list .list-head .col .icon:hover .icon, .list .list-head .col.active .icon{
    opacity: 1;
}
.list .list-section{
    min-height: 100px;
    overflow: auto;
}
.list .list-section .row{
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
}
.list .list-section .row:nth-child(even){
    background-color: #efefef;
}
.list.selective .list-section .row{
    height: 50px;
    min-height: 50px;
    line-height: 50px;
    padding: 5px 0;
    cursor: pointer;
    -webkit-transition: background-color .3s;
    -moz-transition: background-color .3s;
    -ms-transition: background-color .3s;
    -o-transition: background-color .3s;
    transition: background-color .3s;
}
.list.selective .list-section .row:hover, .list.selective .list-section .row.selected{
    background-color: rgba(242, 120, 75, .5);
}
.list.selective .list-section .row .col .text{
    height: 20px;
    line-height: 20px;
}
.list .list-section .col.actions{
    overflow: visible;
    -ms-text-overflow: unset;
    text-overflow: unset;
    width: 56px;
}
.list .list-section md-fab-speed-dial{
    height: 40px;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
}
.list .list-section .button.finger{
    float: left;
    line-height: 40px;
}
.list .list-section md-fab-actions{
    width: 0;
    height: 30px;
    margin: 5px 0;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
}
.list .list-section md-fab-actions .md-fab-action-item{
    margin: 0 1px;
}
.list .list-section md-fab-actions .button.finger{
    width: 30px;
    height: 30px;
}
.list .list-section md-fab-actions .button.finger .icon{
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    float: left;
}
.list .list-footer{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 40px;
    background-color: #3E4F5C;
    z-index: 999;
}
.list .list-footer .col{
    color: #fff;
    line-height: 40px;
}
.list .list-footer md-input-container{
    float: right;
    height: 30px;
    margin: 5px 0;
    padding: 0 8px;
}
.list .list-footer input{
    width: 40px;
    height: 20px;
    margin: 5px 0;
    border-radius: 2px;
    border: 0;
    text-align: center;
    background-color: #fff;
}
.list .list-footer .button.finger{
    width: 30px;
    height: 30px;
    line-height: 24px;
}

/* Common - Search form */
form.search-form{
    height: 30px;
    margin: 10px 0;
    overflow: hidden;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
form.search-form > *{
    float: right;
    height: 100%;
    margin: 0;
}
form.search-form md-input-container{
    padding: 5px 15px;
    font-size: 14px;
    background-color: #fff;
}
form.search-form input{
    height: 100%;
    padding: 0;
    border: none;
}
form.search-form .button{
    width: 40px;
    height: 30px;
    line-height: 100%;
    color: #078f6f;
    background-color: #fff !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
form.search-form .button:hover{
    background-color: #fff;
}
[dir=ltr] form.search-form > *{
    float: left;
}
/* Common - Menu */
.md-toolbar-tools {
    direction: rtl;
}

.sidenav-content .menu .button {
    width: 100%;
    display: block;
    height: 30px;
    min-height: 30px;
    line-height: 30px;
    /*border-top: 1px solid #e9e9e9;*/
    color: #ffffff;
    overflow: hidden;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.menu .button {
    width: 100%;
    display: block;
    height: 40px;
    min-height: 40px;
    line-height: 40px;
    /* border-top: 1px solid #e9e9e9; */
    color: #464646;
    overflow: hidden;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    transition: none !important;
}

.menu .button:last-child {
    /*border-bottom: 1px solid #e9e9e9;*/
}

.menu .button.active {
    background-color: #209e91 !important;
    color: #fff;
}

.menu .button.active:hover {
    background-color: #209e91 !important;
    color: #fff !important;
}

.menu .button.active .icon {
    color: #fff !important;
}

.menu .button:hover {
    background-color: transparent !important;
    color: #209e91 !important;
}

.menu .vAccordion--sidebar .vpane_header > div {
    width: 100%;
}

.menu .vAccordion--sidebar v-pane-header .button .icon {
    /*box-shadow: 0 0 4px 0;*/
}

.menu .button .icon.collapsible {
    /*box-shadow: 0 0 4px 0;*/
}

.menu .vAccordion--sidebar v-pane-content .button .icon.child {
    /*box-shadow: 0 0 4px 0;*/
    width: 50px;
}

.menu .vAccordion--sidebar v-pane-content .button {
    /*border-right:1px solid #a1a1a1;*/
    /*background-color: #fff;*/
}

.menu .vAccordion--sidebar v-pane-content .button.active {
    color: #fff !important;
    box-shadow: inset 0 0 2px #000;
}

.menu .vAccordion--sidebar v-pane-content .button:hover {
    background-color: transparent;
    color: #209e91;
}

.sidenav-content .menu .button .icon {
    float: right;
    width: 50px;
    height: 100%;
    line-height: inherit;
    text-align: center;
    margin: 0;
}

.sidenav-content .menu .text {
    padding-right: 5px;
    float: right;
    font-size: 11px;
    margin-right: 10px;
}

.menu .button .icon {
    float: right;
    width: 50px;
    height: 100%;
    line-height: inherit;
    text-align: center;
    margin: 0;
}

.menu .button .icon.svg.profile svg {
    width: 24px;
    height: 24px;
}

.menu .button .icon.svg svg {
    width: 32px;
    height: 32px;
}

.menu .button:hover .icon.svg svg g path {
    fill: #0ABD93;
}

.menu .text {
    padding-right: 5px;
    float: right;
    font-size: 13px;
    margin-right: 10px;
}

/* Common - Dialogs */
md-dialog .button.close{
    position: absolute;
    color: #fff;
    width: 30px;
    height: 30px;
    left: 5px;
    top: 5px;
    z-index: 1;
}
md-dialog .button.close .icon{
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
    color: #078F6F;
    margin-top: -6px;
}
md-dialog .card .card-head{
    background-color: #3E4F5C;
}
md-dialog .card .col{
    text-align: justify;
}
md-dialog .card .col .button{
    width: 100%;
    height: 30px;
    margin-top: 20px;
    text-align: center;
}

/* Common - AutoComplete */
.suggestion li{
    padding-top: 4px;
    padding-bottom: 4px;
    color: #078F6F;
}
.suggestion .address{
    display: block;
    height: 18px;
    line-height: 20px;
}
.suggestion .area{
    display: block;
    height: 14px;
    line-height: 20px;
    font-size: 11px;
    color: #6e6e6e;
    font-style: italic;
}

/* Common - Elements */
body.md-dialog-is-showing{
    overflow: hidden;
}
.md-dialog-container{
    position: fixed;
}
md-card{
    margin: 0;
    padding: 0;
}
md-backdrop, md-sidenav{
    position: fixed !important;
}
md-tabs .md-tab.md-active{
    color: #F2784B;
}
md-tabs md-ink-bar{
    color: #F2784B;
    background-color: #F2784B;
}
md-input-container{
    margin: 5px 0;
    font-size:14px;
}
md-input-container input[readonly]{
    color: #696969;
    border-bottom-width: 2px;
    border-bottom-style: dashed;
}
md-input-container.col label{
    padding: 0 9px !important;
}
md-input-container .md-char-counter{
    display: none;
}
md-input-container.md-input-focused label, md-input-container.md-input-has-value label{
    font-size: 12px;
    -webkit-transform: translate3d(0,12px,0) scale(.75) !important;
    transform: translate3d(0,12px,0) scale(.75) !important;
}
md-progress-circular.md-default-theme path, md-progress-circular path{
    stroke: #fff;
}
md-autocomplete button{
    top: 0 !important;
    right: unset !important;
    left: 0 !important;
}
md-autocomplete button md-icon path{
    fill: #202020;
}
md-autocomplete .md-show-clear-button button md-icon{
    opacity: .8;
    -webkit-transform: translate3d(-50%, -50%, 0) scale(.65);
    -moz-transform: translate3d(-50%, -50%, 0) scale(.65);
    -ms-transform: translate3d(-50%, -50%, 0) scale(.65);
    -o-transform: translate3d(-50%, -50%, 0) scale(.65);
    transform: translate3d(-50%, -50%, 0) scale(.65);
}
md-autocomplete md-autocomplete-wrap md-progress-linear.md-inline{
    bottom: 26px;
}
md-menu-content{
    max-height: unset;
}
md-radio-group.float{
    display: inline-block;
    width: 100%;
}
md-radio-group.float md-radio-button{
    margin: 0;
    float: right;
    font-size: 12px;
    width: 50%;
}
md-radio-group.float md-radio-button .md-label{
    margin-right: 20px !important;
}
md-radio-button{
    margin: 5px 0;
    font-size: 12px;
}
md-radio-button .md-label{
    margin-right: 25px !important;
}
md-radio-button .md-container, md-radio-button .md-off, md-radio-button .md-on{
    width: 16px;
    height: 16px;
}
md-radio-button.md-checked .md-off{
    border-color: #f2784b;
}
md-radio-button.md-checked .md-on{
    background-color: #f2784b;
}
[disabled=disabled] md-radio-button .md-on {
    background-color: rgba(0, 0, 0, 0.38);
}
md-checkbox{
    font-size: 12px;
    margin: 0 8px !important;
    padding: 0 !important;
}
md-checkbox .md-label {
    margin-right: 25px !important;
}
md-checkbox .md-container, md-checkbox .md-icon{
    width: 16px;
    height: 16px;
}
md-checkbox.md-checked .md-icon{
    background-color: #f2784b !important;
}
md-checkbox.md-checked .md-icon::after{
    top: -1px;
    right: 3px;
    width: 6px;
    height: 12px;
}
.dark md-input-container label, .dark md-input-container label::after, .dark md-input-container input{
    color: #fff !important;
    border-color: #fff !important;
}
.dark md-autocomplete button md-icon path{
    fill: #fff;
}
.dark md-checkbox .md-label{
    color: #fff;
}
.dark md-checkbox .md-icon{
    border: none;
    background-color: #FFFFFF;
}
.dark md-checkbox.md-checked .md-icon::after{
    top: 1px;
    right: 5px;
}
.dark md-radio-button .md-off{
    background-color: #fff;
}
.nvd3 text{
    font-size: 10px;
    font-family: ISN, IS, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

[dir=ltr] .image-input-container .image-input-overlay{
    left: 0;
    right: unset;
}



/***************************************
  vAccordion
 ***************************************/
/**
 * Example HTML:
 *
  <v-accordion class="vAccordion--default">
    <v-pane>
      <v-pane-header id="pane-header" aria-controls="pane-content">
         [content]
      </v-pane-header>
      <v-pane-content id="pane-content" aria-labelledby="pane-header">
        [content]
      </v-pane-content>
    </v-pane>
  </v-accordion>
 */
/* Base styles
 ***************************************/
v-accordion {
    display: block; }

v-pane {
    display: block; }
/*v-pane.is-expanded > v-pane-content > div {*/
    /*display: visible; }*/
v-pane[disabled] > v-pane-header {
    opacity: 0.6;
    pointer-events: none; }

v-pane-header {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none; }
v-pane-header:focus {
    outline: none; }
v-pane-header > div {
    display: block; }

v-pane-content {
    display: block;
    position: relative;
    overflow: hidden;
    max-height: 0px; }
v-pane-content > div {
    visibility: hidden; }

/* Theme: default
   ***************************************/
.vAccordion--default v-accordion {
    margin-top: 20px;
    padding-left: 20px; }
.vAccordion--default v-pane-content > div {
    opacity: 0;
    -webkit-transform: translate3d(0, 30px, 0);
    transform: translate3d(0, 30px, 0);
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
.vAccordion--default v-pane {
    overflow: hidden; }
.vAccordion--default v-pane.is-expanded > v-pane-header {
    border-bottom-color: #2196F3; }
.vAccordion--default v-pane.is-expanded > v-pane-header::after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    opacity: 0; }
.vAccordion--default v-pane.is-expanded > v-pane-header::before {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
.vAccordion--default v-pane.is-expanded > v-pane-content > div {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
.vAccordion--default v-pane[disabled] v-pane-header::after, .vAccordion--default v-pane[disabled] v-pane-header::before {
    display: none; }
.vAccordion--default v-pane-header {
    padding: 5px 0;
    margin-bottom: 0;
    /*border-bottom: 2px solid #D8D8D8;*/
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    color: #505050;
    font-family: ISN, IS, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    text-shadow: -2px 1px 0 #d2d2d2;
    box-shadow: 0 0 5px 2px
}
.vAccordion--default v-pane-header::after, .vAccordion--default v-pane-header::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    width: 10px;
    height: 1px;
    background-color: #2196F3;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    will-change: transform;
    -webkit-transition: all 0.25s;
    transition: all 0.25s; }
.vAccordion--default v-pane-header::before {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg); }
.vAccordion--default v-pane-header:hover, .vAccordion--default v-pane-header:focus {
    color: #474343; }
.vAccordion--default v-pane-content{
    background-color: rgba(239, 239, 239, 0.6);
    border: 1px solid rgb(159, 159, 159);
    /*margin-bottom:15px;*/
}


/* CUSTOM FORM STYLESHEETS */
.customForm {
    border-radius: 0;
    border: 0;
    box-shadow: none;
}

.customForm {
    width: 100%;
}

.customForm .datepicker {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    box-shadow: inset 0 0 2px 0 #474747;
    font-size: 11px;
}

.customForm .datepicker:focus {
    border: none !important;
}

.customForm .section {
    padding: 5px;
}

.customForm .section div.row {
    padding: 5px 4px;
}

.customForm .md-select-value {
    margin-top: 2px;
    font-size: 12px;
    border: 0;
}

.customForm md-checkbox .md-icon {
    border: 1px solid;
}

.customForm .col.text.mini-size {
    font-size: 10px;
    text-align: center;
}

.customForm .checkbox-inline .text.mini-size {
    font-size: 10px;
    /*white-space: nowrap;*/
}

.customForm md-select, .customForm input {
    margin: 0;
    padding: 0 15px;
    font-size: 14px;
    background-color: #fff;
    min-height: 30px;
    border-radius: 3px;
    box-shadow: inset 0 0 2px 0 #474747 !important;
    overflow: hidden;
    opacity: 0.7;
    height: unset;
    width: 100%;
}

.customForm md-select:disabled, .customForm input:disabled {
    border: 0;
    opacity: .5;
    font-weight: 800;
    color: #797979;
    cursor: not-allowed;
    background: rgb(245, 245, 245);
}

.customForm textarea {
    padding: 0 15px;
    background-color: #fff;
    min-height: 100px;
    border-radius: 3px;
    box-shadow: inset 0 0 2px 0 #474747 !important;
    overflow: hidden;
    opacity: 0.7;
    resize: none;
    user-select: none;
    outline: none;
    height: unset;
    width: 100%;
    font-family: ISN, IS, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    overflow-y: auto;
    color: #3c3c3c;
    border: 0;
}

.customForm textarea:focus {
    opacity: 1;
    border-bottom: 1px solid;
    border-color: #239F96 !important;
}

.customForm md-input-container .ng-invalid.ng-touched {
    border: 1px solid rgb(222, 3, 3);
    /*box-shadow: rgb(96, 96, 96) 0 2px 3px inset;*/
    /*opacity: 1;*/
}

.customForm md-input-container.md-input-invalid .md-errors-spacer, .customForm md-input-container.md-input-invalid .errors {
    display: block;
}

.customForm .errors, .customForm .md-errors-spacer {
    /*position: absolute;*/
    display: none;
}

.customForm md-autocomplete .md-show-clear-button button {
    position: absolute;
}

.customForm md-autocomplete md-autocomplete-wrap {
    box-shadow: none;
    height: 33px;
}

.customForm md-input-container, .customForm md-autocomplete {
    padding: 0;
    margin: 0;
    height: unset;
}

.customForm md-autocomplete input {
    font-size: 12px;
    height: 30px;
    box-shadow: inset 0 0 2px #363636;
}

.customForm md-autocomplete input:focus {
    border-bottom: 1px solid #239F96;
}

.customForm md-input-container input {
    height: 100%;
    padding: 0 10px 0 0;
    margin-top: 3px;
    font-size: 12px;
}

.customForm md-input-container.md-input-focused input {
    opacity: 1;
    border-bottom: 1px solid;
    border-color: #239F96 !important;
}

.customForm .text.title {
    text-shadow: 0 2px 2px #272626;
    letter-spacing: 2px;
    background-color: #33444d;
    color: #fff;
    padding: 0 10px;
    box-shadow: 2px 1px 3px #393838;
    font-weight: 800;
}

.titleEffect {
    position: relative;
    border: none;
    background-color: transparent;
    cursor: default;
    outline: none;
    font-size: 15px;
    color: #5a5a5a;
    width: 180px;
    text-align: center;
    margin: 5px auto;
    padding: 5px;
    font-family: ISN, IS, "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*text-shadow: 0 1px 1px #adadad;*/
    border-radius: 4px;
    box-shadow: inset 0 0 5px #b7b7b7
}

.titleEffect::after, .titleEffect::before {
    content: "";
    display: block;
    position: absolute;
    width: 20%;
    height: 20%;
    border: 2px solid;
    transition: all 0.6s ease;
    border-radius: 2px;
}

.titleEffect::after {
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #239f96;
    border-right-color: #239f96;
}

.titleEffect::before {
    top: 0;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: #239f96;
    border-left-color: #239f96;
}

.titleEffect:hover:after, .titleEffect:hover:before {
    width: 100%;
    height: 100%;
}

.customForm .section .actions .button {
    width: 150px;
    height: 30px;
    margin: 0 10px;
    box-shadow: 1px 1px 2px 0 #696963;
}




.animateBorder {
    overflow: hidden;
    position: relative;
}

.animateBorder::before, .animateBorder::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    border: 1px solid transparent;
    width: 0;
    height: 0;
}

.animateBorder::before {
    top: 0;
    left: 0;
    border-top-color: #f1f1f1;
    border-right-color: #f1f1f1;
    animation: border 2s infinite;
}

.animateBorder::after {
    bottom: 0;
    right: 0;
    animation: border 2s 1s infinite, borderColor 2s 1s infinite;
}

@keyframes border {
    0% {
        width: 0;
        height: 0;
    }
    25% {
        width: 100%;
        height: 0;
    }
    50% {
        width: 100%;
        height: 100%;
    }
    100% {
        width: 100%;
        height: 100%;
    }
}

@keyframes borderColor {
    0% {
        border-bottom-color: #f1f1f1;
        border-left-color: #f1f1f1;
    }
    50% {
        border-bottom-color: #f1f1f1;
        border-left-color: #f1f1f1;
    }
    51% {
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    100% {
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
}


/* ---- CUSTOM DataGrid STYLESHEETS ----- */
.customDataGrid {

}

.customDataGrid .card-head .actions .button {
    width: 30px;
    height: 30px;
    margin: 0 2px;
    border-radius: 1px;
}

.customDataGrid .card-head .actions .button .icon {
    font-size: 18px;
}

.customDataGrid .card-head .searchWrapper {
    position: absolute;
    left: 10px;
    top: 0;
    height: 40px;
}

.customDataGrid .card-head .searchWrapper .button.filter {
    border-radius: 0;
    height: 30px;
    width: 30px;
    line-height: 30px;
}

.customDataGrid .card-head .searchWrapper .button.add {
    margin-right: 50px;
    left: 25px;
}

.customDataGrid .row.filters.filterShow {
    height: auto;
    max-height: unset;
    padding: 5px 5px 5px 15px;
    width: 100%;
}

.customDataGrid .filters {
    overflow: hidden;
    height: 0;
    max-height: 0;
    padding: 0;
    background-color: #efefef;
    box-shadow: inset 0 1px 40px 0 #7b7b7b;
    background-image: url(/assets/img/pic/pattern1.png);
    background-size: auto;
    transition: height 2s linear;

}

.customDataGrid .filters.filterHide {
    height: 0;
    max-height: 0;
    padding: 0;
}

.customDataGrid .filters .md-select-value {
    margin-top: 2px;
    font-size: 12px;
}

.customDataGrid .filters md-checkbox .md-icon {
    border: 1px solid;
}

.customDataGrid .filters .col.text.mini-size {
    font-size: 10px;
}

.customDataGrid .filters .checkbox-inline .text.mini-size {
    font-size: 10px;
    white-space: nowrap;
}

.customDataGrid .filters md-input-container {
    padding: 0 15px;
    font-size: 14px;
    background-color: #fff;
    height: 30px;
    border-radius: 3px;
    box-shadow: inset 0 0 2px 0 #474747;
    overflow: hidden;
    opacity: 0.7;
}

.customDataGrid .filters md-input-container.md-input-focused {
    opacity: 1;
}

.customDataGrid .filters md-input-container input {
    height: 100%;
    padding: 0 0 5px 0;
    margin-top: 3px;
    font-size: 12px;
}

.customDataGrid .list.selective .list-section .row {
    height: auto;
    padding: 0;
}

.customDataGrid .list.selective .list-section .dateGroup {
    background-color: #7f898d;
    color: #fff;
    text-shadow: 0 1px 1px #000;
    opacity: 1;
    width: 100%;
    height: 30px;
    font-size: 12px;
    text-align: right;
    padding-right: 60px;
    cursor: default;
    line-height: 30px;
}

.customDataGrid .list.selective .list-section .dataRow {
    user-select: none;
    outline: none;

    border-top: 1px solid #c9c9c9;
    box-shadow: inset -3px 1px 2px #dcdcdc;
}

.customDataGrid .list.selective .list-section .dataRow .col.readed {
    opacity: 0.4;
}

.customDataGrid .list.selective .list-section .dataRow .col {
    height: 45px;
}

.customDataGrid .list.selective .list-section .dataRow .col.attachments {
    color: #5c5c5c;
}

.customDataGrid .list.selective .list-section .dataRow .text.multiline {
    height: 50px;
    /*white-space: normal;*/
    /*line-height: 25px;*/
    font-size: 10px;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden !important;
    direction: rtl !important;
    white-space: pre;
    line-height: 4;
}



.pending.spinner{
    position: absolute;
    left: 20px;
    top: calc(50% - 8px);
}

.pending.spinner .spinner{
    text-indent: 999em;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 7px;
    /* left: 50%; */
    margin: -10px;
    background-color: #00000061;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3) inset;
    border-radius: 50%;
}
.pending.spinner .spinner:after{
    content: '';
    position: absolute;
    top: 8px;
    left: 2.6666666667px;
    background-color: #fff;
    height: 4px;
    width: 4px;
    animation: spin 1s linear infinite;
    border-radius: 50%;
    transform-origin: 7.3333333333px;
}


@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}





/*
** persian-datepicker - v1.1.3
** Reza Babakhani <babakhani.reza@gmail.com>
** http://babakhani.github.io/PersianWebToolkit/docs/datepicker
** Under WTFPL license
*/

.datepicker-plot-area {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.datepicker-plot-area .datepicker-time-view .down-btn,
.datepicker-plot-area .datepicker-time-view .up-btn {
    transition: all 100ms ease;
}

.datepicker-plot-area .datepicker-day-view .table-days td.disabled span, .datepicker-plot-area .datepicker-year-view .year-item-disable,
.datepicker-plot-area .datepicker-month-view .month-item-disable {
    border-radius: 0;
}

.datepicker-plot-area .datepicker-time-view .down-btn,
.datepicker-plot-area .datepicker-time-view .up-btn {
    border-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.datepicker-plot-area .datepicker-time-view .down-btn {
    border-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.datepicker-plot-area, .datepicker-plot-area .datepicker-time-view > .time-segment {
    border-radius: 0;
}

.datepicker-plot-area .datepicker-day-view .table-days td span, .datepicker-plot-area .datepicker-year-view .year-item,
.datepicker-plot-area .datepicker-month-view .month-item, .datepicker-plot-area .datepicker-navigator .pwt-btn-next,
.datepicker-plot-area .datepicker-navigator .pwt-btn-switch,
.datepicker-plot-area .datepicker-navigator .pwt-btn-prev {
    border-radius: 0;
}

.datepicker-plot-area {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.datepicker-plot-area .datepicker-day-view .table-days td span, .datepicker-plot-area .datepicker-year-view .year-item,
.datepicker-plot-area .datepicker-month-view .month-item, .datepicker-plot-area .datepicker-day-view .table-days td.disabled span, .datepicker-plot-area .datepicker-year-view .year-item-disable,
.datepicker-plot-area .datepicker-month-view .month-item-disable, .datepicker-plot-area .datepicker-time-view > .time-segment, .datepicker-plot-area .datepicker-time-view .down-btn,
.datepicker-plot-area .datepicker-time-view .up-btn, .datepicker-plot-area .datepicker-time-view input, .datepicker-plot-area .datepicker-navigator .pwt-btn-next,
.datepicker-plot-area .datepicker-navigator .pwt-btn-switch,
.datepicker-plot-area .datepicker-navigator .pwt-btn-prev, .datepicker-plot-area .toolbox .pwt-btn-submit,
.datepicker-plot-area .toolbox .pwt-btn-calendar,
.datepicker-plot-area .toolbox .pwt-btn-today {
    cursor: pointer;
}

.datepicker-plot-area .datepicker-day-view .table-days td span, .datepicker-plot-area .datepicker-year-view .year-item,
.datepicker-plot-area .datepicker-month-view .month-item {
    font: 14px;
    background-color: #fff;
    color: #333;
    border: 0;
    text-shadow: none;
}

.datepicker-plot-area .datepicker-day-view .table-days td.disabled span, .datepicker-plot-area .datepicker-year-view .year-item-disable,
.datepicker-plot-area .datepicker-month-view .month-item-disable {
    background-color: #f1f1f1;
    color: #ccc;
    border: none;
    text-shadow: none;
    cursor: default;
}

.datepicker-plot-area .datepicker-day-view .table-days td.today span {
    background-color: #333;
    color: #fff;
    border: 0;
    text-shadow: none;
}

.datepicker-plot-area .datepicker-day-view .table-days td span.other-month {
    background-color: "";
    color: #ccc;
    border: none;
    text-shadow: none;
}

.datepicker-plot-area .datepicker-day-view .table-days td.selected span, .datepicker-plot-area .datepicker-year-view .year-item.selected,
.datepicker-plot-area .datepicker-month-view .month-item.selected {
    background-color: #005299;
    color: #fff;
    border: none;
    text-shadow: 1px 1px 1px #000;
}

.datepicker-plot-area .datepicker-day-view .table-days td.selected span .datepicker-plot-area .datepicker-day-view .table-days td:hover, .datepicker-plot-area .datepicker-day-view .table-days td span:hover, .datepicker-plot-area .datepicker-year-view .year-item:hover,
.datepicker-plot-area .datepicker-month-view .month-item:hover {
    background-color: #007be6;
    color: #fff;
    border: 0;
    text-shadow: none;
}

.datepicker-container {
    display: block;
    position: absolute;
    z-index: 100000;
    top: 0;
    direction: ltr;
}

.datepicker-container.pwt-hide {
    display: none;
}

.datepicker-plot-area {
    box-sizing: border-box;
    overflow: hidden;
    min-height: 70px;
    display: block;
    width: 200px;
    min-width: 200px;
    padding: 3px;
    position: absolute;
    font: 12px tahoma;
    border: 1px solid #ccc;
    background-color: #fff;
}

.datepicker-plot-area.datepicker-state-only-time {
    padding: 0;
}

.datepicker-plot-area table,
.datepicker-plot-area th,
.datepicker-plot-area td {
    border: 0;
    background: none;
}

.datepicker-plot-area * {
    text-align: center;
    color: #333;
}

.datepicker-plot-area .datepicker-day-view,
.datepicker-plot-area .datepicker-month-view,
.datepicker-plot-area .datepicker-year-view {
    display: block;
    width: 100%;
    float: left;
    min-height: 200px;
    margin: 0;
}

.datepicker-plot-area-inline-view {
    display: block;
    width: 100%;
    position: static;
    float: left;
}

.datepicker-plot-area .datepicker-time-view {
    display: block;
    float: left;
    width: 100%;
    padding: 5px;
    background: #f9f9f9;
    border-top: 1px solid #f1f1f1;
}

.datepicker-plot-area .datepicker-time-view > .time-segment {
    display: block;
    width: 22%;
    float: left;
    overflow: hidden;
}

.datepicker-plot-area .datepicker-time-view > .time-segment:hover .down-btn,
.datepicker-plot-area .datepicker-time-view > .time-segment:hover .up-btn {
    font-weight: bold;
}

.datepicker-plot-area .datepicker-time-view .divider {
    display: block;
    width: 3%;
    height: 60px;
    line-height: 60px;
    float: left;
    overflow: hidden;
    font: 12px bold;
}

.datepicker-plot-area .datepicker-time-view .divider span {
    height: 60px;
    line-height: 60px;
}

.datepicker-plot-area .datepicker-time-view .down-btn,
.datepicker-plot-area .datepicker-time-view .up-btn {
    display: block;
    float: left;
    width: 100%;
    margin: 0;
    height: 20px;
    line-height: 22px;
    color: #ccc;
}

.datepicker-plot-area .datepicker-time-view .down-btn:hover,
.datepicker-plot-area .datepicker-time-view .up-btn:hover {
    background-color: rgba(250, 250, 250, 0.3);
    color: #807f7f;
}

.datepicker-plot-area .datepicker-time-view input {
    display: block;
    width: 90%;
    margin: 0 5%;
    height: 20px;
    padding: 0;
    outline: none;
    border: none;
    background: transparent;
}

.datepicker-plot-area.datepicker-state-only-time .datepicker-time-view {
    padding: 0 5px;
    margin: 0;
}

.datepicker-plot-area.datepicker-state-only-time .datepicker-time-view > .time-segment,
.datepicker-plot-area.datepicker-state-only-time .datepicker-time-view > .divider {
    padding: 5px 0;
}

.datepicker-plot-area.datepicker-state-no-meridian .datepicker-time-view > .time-segment {
    width: 31.33%;
}

.datepicker-plot-area.datepicker-state-no-meridian .datepicker-time-view > .meridian-divider {
    display: none;
}

.datepicker-plot-area.datepicker-state-no-second .datepicker-time-view > .time-segment {
    width: 31.33%;
}

.datepicker-plot-area.datepicker-state-no-second .datepicker-time-view > .second-divider {
    display: none;
}

.datepicker-plot-area.datepicker-state-no-meridian.datepicker-state-no-second .datepicker-time-view > .time-segment {
    width: 48%;
}

.datepicker-plot-area.datepicker-state-no-meridian.datepicker-state-no-second .datepicker-time-view > .second-divider,
.datepicker-plot-area.datepicker-state-no-meridian.datepicker-state-no-second .datepicker-time-view > .meridian-divider {
    display: none;
}

.datepicker-plot-area .datepicker-day-view .table-days {
    width: 100%;
    float: left;
    direction: rtl;
}

.datepicker-plot-area .datepicker-day-view .table-days td {
    width: 14.2%;
    height: 26px;
    padding: 0;
    margin: 0;
    position: relative;
}

.datepicker-plot-area .datepicker-day-view .table-days td .alter-calendar-day {
    font-style: normal;
    position: absolute;
    font-size: 8.5px;
    bottom: 0;
    right: 2px;
    color: #f1f1f1;
}

.datepicker-plot-area .datepicker-day-view .table-days td span {
    display: block;
    width: 100%;
    height: 26px;
    line-height: 26px;
    padding: 0;
    margin: 0;
}

.datepicker-plot-area .datepicker-day-view .month-grid-box {
    display: block;
    width: 100%;
    float: right;
    min-height: 180px;
    margin: 8px 0;
}

.datepicker-plot-area .datepicker-day-view .month-grid-box .header {
    display: block;
    width: 100%;
    float: left;
    padding-bottom: 8px;
}

.datepicker-plot-area .datepicker-day-view .month-grid-box .header .header-row {
    display: block;
    width: 100%;
    height: 25px;
    float: left;
}

.datepicker-plot-area .datepicker-day-view .month-grid-box .header .header-row-cell {
    display: block;
    width: 14.2%;
    height: 25px;
    float: right;
    line-height: 25px;
    font: 11px;
    font-weight: bold;
    color: #333;
}

.datepicker-plot-area .datepicker-year-view,
.datepicker-plot-area .datepicker-month-view {
    padding-top: 10px;
}

.datepicker-plot-area .datepicker-year-view .year-item,
.datepicker-plot-area .datepicker-month-view .month-item {
    display: block;
    width: 33.333333%;
    margin: 2px 0 0;
    float: right;
    height: 42px;
    line-height: 42px;
}

.datepicker-plot-area .datepicker-navigator {
    display: block;
    width: 100%;
    float: left;
}

.datepicker-plot-area .datepicker-navigator .pwt-btn-next,
.datepicker-plot-area .datepicker-navigator .pwt-btn-switch,
.datepicker-plot-area .datepicker-navigator .pwt-btn-prev {
    display: block;
    float: left;
    height: 28px;
    line-height: 28px;
    font-weight: bold;
    background-color: rgba(250, 250, 250, 0.1);
    color: #333;
}

.datepicker-plot-area .datepicker-navigator .pwt-btn-next:hover,
.datepicker-plot-area .datepicker-navigator .pwt-btn-switch:hover,
.datepicker-plot-area .datepicker-navigator .pwt-btn-prev:hover {
    background-color: rgba(250, 250, 250, 0.3);
}

.datepicker-plot-area .datepicker-navigator .pwt-btn-next {
    display: block;
    width: 15%;
    float: left;
}

.datepicker-plot-area .datepicker-navigator .pwt-btn-switch {
    display: block;
    width: 66%;
    margin: 0 2%;
    float: left;
}

.datepicker-plot-area .datepicker-navigator .pwt-btn-prev {
    display: block;
    width: 15%;
    float: left;
}

.datepicker-plot-area .toolbox {
    display: block;
    float: left;
    width: 100%;
    margin-top: 5px;
}

.datepicker-plot-area .toolbox .pwt-btn-submit,
.datepicker-plot-area .toolbox .pwt-btn-calendar,
.datepicker-plot-area .toolbox .pwt-btn-today {
    background-color: rgba(250, 250, 250, 0.1);
    float: right;
    display: block;
    font-weight: bold;
    font-size: 11px;
    height: 24px;
    line-height: 24px;
    white-space: nowrap;
    margin: 0 auto;
    margin-left: 5px;
    padding: 0 5px;
    min-width: 50px;
}

.datepicker-plot-area .toolbox .pwt-btn-submit:hover,
.datepicker-plot-area .toolbox .pwt-btn-calendar:hover,
.datepicker-plot-area .toolbox .pwt-btn-today:hover {
    background-color: rgba(250, 250, 250, 0.3);
}

.datepicker-plot-area .datepicker-navigator {
    display: block;
    width: 100%;
    float: left;
    direction: ltr;
}

.datepicker-plot-area .datepicker-navigator .pwt-btn-next,
.datepicker-plot-area .datepicker-navigator .pwt-btn-switch,
.datepicker-plot-area .datepicker-navigator .pwt-btn-prev {
    display: block;
    float: left;
    height: 28px;
    line-height: 28px;
    font-weight: bold;
    background-color: rgba(250, 250, 250, 0.1);
    color: #333;
}

.datepicker-plot-area .datepicker-navigator .pwt-btn-next:hover,
.datepicker-plot-area .datepicker-navigator .pwt-btn-switch:hover,
.datepicker-plot-area .datepicker-navigator .pwt-btn-prev:hover {
    background-color: rgba(250, 250, 250, 0.3);
}

.datepicker-plot-area .datepicker-navigator .pwt-btn-next {
    display: block;
    width: 15%;
    float: left;
}

.datepicker-plot-area .datepicker-navigator .pwt-btn-switch {
    display: block;
    width: 66%;
    margin: 0 2%;
    float: left;
}

.datepicker-plot-area .datepicker-navigator .pwt-btn-prev {
    display: block;
    width: 15%;
    float: left;
}

.datepicker-container.pwt-mobile-view {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    transition: all 1s;
}

.datepicker-container.pwt-mobile-view.pwt-hide {
    top: 100vh;
    height: 0;
}

.datepicker-container.pwt-mobile-view .datepicker-plot-area.datepicker-state-only-time .pwt-btn-submit {
    color: white;
    background: gray;
}

.datepicker-container.pwt-mobile-view .datepicker-plot-area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.datepicker-container.pwt-mobile-view .datepicker-plot-area .table-days td,
.datepicker-container.pwt-mobile-view .datepicker-plot-area .table-days td span {
    height: 44px;
    line-height: 44px;
    font-size: 14px;
}

.datepicker-container.pwt-mobile-view .datepicker-plot-area .datepicker-year-view .year-item,
.datepicker-container.pwt-mobile-view .datepicker-plot-area .datepicker-month-view .month-item {
    height: 70px;
    line-height: 70px;
}

.datepicker-container.pwt-mobile-view .datepicker-plot-area [class*='pwt-btn'] {
    height: 48px;
    line-height: 48px;
}

.datepicker-container.pwt-mobile-view .datepicker-plot-area .pwt-btn-today {
    float: left;
}

.datepicker-container.pwt-mobile-view .datepicker-plot-area.datepicker-state-only-time {
    background: rgba(0, 0, 0, 0.7);
    border: 0;
    padding-top: 60%;
}

.datepicker-container.pwt-mobile-view .datepicker-plot-area.datepicker-state-only-time .pwt-btn-submit {
    margin-right: 5px;
}

.datepicker-container.pwt-mobile-view .datepicker-plot-area.datepicker-state-only-time .datepicker-time-view input {
    height: 40px;
    line-height: 40px;
    font-size: 24px;
    margin: 5px 0;
}

.datepicker-container.pwt-mobile-view .datepicker-plot-area.datepicker-state-only-time .datepicker-time-view .divider,
.datepicker-container.pwt-mobile-view .datepicker-plot-area.datepicker-state-only-time .datepicker-time-view .divider span {
    font-size: 16px;
    display: block;
    height: 144px;
    line-height: 144px;
}

.datepicker-container.pwt-mobile-view .datepicker-plot-area.datepicker-state-only-time .datepicker-time-view .down-btn,
.datepicker-container.pwt-mobile-view .datepicker-plot-area.datepicker-state-only-time .datepicker-time-view .up-btn {
    height: 48px;
    line-height: 48px;
}

.datepicker-container.pwt-mobile-view .datepicker-time-view input {
    height: 32px;
    line-height: 34px;
    font-size: 18px;
}

.datepicker-container.pwt-mobile-view .datepicker-time-view .divider,
.datepicker-container.pwt-mobile-view .datepicker-time-view .divider span {
    height: 120px;
    line-height: 120px;
}

.datepicker-container.pwt-mobile-view .datepicker-time-view .down-btn,
.datepicker-container.pwt-mobile-view .datepicker-time-view .up-btn {
    height: 40px;
    line-height: 40px;
}

.md-button.circle-btn{
    width: 40px;
    height: 40px;
    min-width: 40px;
    margin: 0;
    border-radius: 50%;
    box-shadow: 0 1px 1px #000;
    padding: 2px;
    background-color: #fff;
    min-height: 40px;
}
.md-button.circle-btn img{
    width: 100%;
    height: 100%;
}



.highlight_input{
    margin: 10px;
}
.highlight_input .placeholder{
    width: 56px;
    height: 60px;
    background-color: #363b41;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: default;
}

.highlight_input .placeholder .icon{
    font-size: 24px;
    text-align: center;
    height: 35px;
    width: 35px;
    margin: auto;
    color: #ffffffb8;
    font-weight: normal;
    line-height: 35px;
}
.highlight_input md-input-container{
    width: 264px;
    height: 60px;
    padding: 0;
    margin: 0;
}

.highlight_input md-input-container input::placeholder {
    color: rgba(125, 125, 125, 0.72);
}
.highlight_input md-input-container input::-ms-input-placeholder{
    color: rgba(125, 125, 125, 0.72);
}
.highlight_input md-input-container input:-ms-input-placeholder{
    color: rgba(125, 125, 125, 0.72);
}



.highlight_input md-input-container input{
    height: 60px;
    background-color: #3b4148;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    margin: 0;
}

.highlight_input md-input-container input:hover , .highlight_input md-input-container input:focus{
    background-color: #434a52;
}


.highlight_input .md-errors-spacer{
    display: none;
}


.loading {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    background-color: #00000070;
    z-index: 999999999999999999999999999999;
}

.loading .bullet {
    position: absolute;
    padding: 5px;
    border-radius: 50%;
    background: #d67600;
    -webkit-animation: animIn 1s ease-in-out 0s infinite;
    animation: animIn 1s ease-in-out 0s infinite;
    right: 50%;
    top: 50%;
}

.loading .bullet:nth-child(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.loading .bullet:nth-child(2) {
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
}

.loading .bullet:nth-child(3) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.loading .bullet:nth-child(4) {
    -webkit-animation-delay: 0.45s;
    animation-delay: 0.45s;
}


@-webkit-keyframes animIn {
    0% {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
        opacity: 0;
    }
}

@keyframes animIn {
    0% {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
        opacity: 0;
    }
}



.progress {
    overflow: hidden;
    height: 35px;
    background-color: #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    /*margin-bottom: 20px;*/
}
.progress-bar {
    width: 0;
    height: 100%;
    color: #fff;
    text-align: center;
    background-color: #ee303c;



}
.progress-striped .progress-bar {
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-size: 40px 40px;
}
.progress.active .progress-bar {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
    -moz-animation: progress-bar-stripes 2s linear infinite;
}




.imagecrop-container {
    position: relative;
    width: 150px;
    height: 150px;
    cursor: pointer;
}

.imagecrop-container .imagecrop-preview {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    padding: 2px;
}

.imagecrop-container .imagecrop-preview img {
    width: 100%;
    height: 100%;
    cursor: inherit;
    background-color: #fff;
    image-orientation: from-image;
}

.imagecrop-container .imagecrop-input {
    position: relative;
    width: 100%;
    height: 100%;
    border: 3px dashed #738491;
    cursor: pointer;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.imagecrop-container .imagecrop-input.dragover {
    border-color: #FFA584;
}

.imagecrop-container .imagecrop-area {
    width: 100%;
    height: 100%;
}

.imagecrop-container .imagecrop-area-text {
    position: absolute;
    font-size: 12px;
    width: 90%;
    top: 50%;
    right: 50%;
    text-align: center;
    -webkit-transform: translate(50%, -50%);
    -moz-transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
    -o-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
}

.imagecrop-container .imagecrop-area-input {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px;
}

.imagecrop-container .imagecrop-area-input canvas {
    display: block;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    outline: none !important;
}

.imagecrop-container .image-input-overlay {
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: -100%;
    right: 0;
    left: unset;
    line-height: 40px;
    background: rgba(0, 0, 0, .5);
    -webkit-transition: bottom .3s;
    -moz-transition: bottom .3s;
    -ms-transition: bottom .3s;
    -o-transition: bottom .3s;
    transition: bottom .3s;
}

.imagecrop-container:hover .image-input-overlay {
    bottom: 0;
}

.imagecrop-container .image-input-overlay .icon {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 36px;
    color: #fff;
    line-height: inherit;
}

.imagecrop-container .image-input-overlay .button {
    width: 100%;
    height: 100%;
    background-color: transparent;
}




/* --- ANGULAR TOASTR ----*/

.toast-title {
    font-weight: bold;
}
.toast-message {
    word-wrap: break-word;
}
.toast-message a,
.toast-message label {
    color: #FFFFFF;
}
.toast-message a:hover {
    color: #CCCCCC;
    text-decoration: none;
}
.toast-close-button {
    position: relative;
    right: -0.3em;
    top: -0.3em;
    float: right;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    -webkit-text-shadow: 0 1px 0 #ffffff;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.8;
}
.toast-close-button:hover,
.toast-close-button:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.4;
}
/*Additional properties for button version
 iOS requires the button element instead of an anchor tag.
 If you want the anchor version, it requires `href="#"`.*/
button.toast-close-button {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}
.toast-top-center {
    top: 0;
    right: 0;
    width: 100%;
}
.toast-bottom-center {
    bottom: 0;
    right: 0;
    width: 100%;
}
.toast-top-full-width {
    top: 0;
    right: 0;
    width: 100%;
}
.toast-bottom-full-width {
    bottom: 0;
    right: 0;
    width: 100%;
}
.toast-top-left {
    top: 12px;
    left: 12px;
}
.toast-top-right {
    top: 12px;
    right: 12px;
}
.toast-bottom-right {
    right: 12px;
    bottom: 12px;
}
.toast-bottom-left {
    bottom: 12px;
    left: 12px;
}
#toast-container {
    position: fixed;
    z-index: 999999;
    /*overrides*/
}
#toast-container * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#toast-container .toast {
    position: relative;
    overflow: hidden;
    margin: 0 0 6px;
    padding: 15px 15px 15px 50px;
    width: 300px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    background-position: 15px center;
    background-repeat: no-repeat;
    -moz-box-shadow: 0 0 12px #999999;
    -webkit-box-shadow: 0 0 12px #999999;
    box-shadow: 0 0 12px #999999;
    color: #FFFFFF;
    opacity: 0.8;
}
#toast-container .toast:hover {
    -moz-box-shadow: 0 0 12px #000000;
    -webkit-box-shadow: 0 0 12px #000000;
    box-shadow: 0 0 12px #000000;
    opacity: 1;
    cursor: pointer;
}
#toast-container .toast.toast-info {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=") !important;
}
#toast-container .toast.toast-error {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=") !important;
}
#toast-container .toast.toast-success {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==") !important;
}
#toast-container .toast.toast-warning {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGYSURBVEhL5ZSvTsNQFMbXZGICMYGYmJhAQIJAICYQPAACiSDB8AiICQQJT4CqQEwgJvYASAQCiZiYmJhAIBATCARJy+9rTsldd8sKu1M0+dLb057v6/lbq/2rK0mS/TRNj9cWNAKPYIJII7gIxCcQ51cvqID+GIEX8ASG4B1bK5gIZFeQfoJdEXOfgX4QAQg7kH2A65yQ87lyxb27sggkAzAuFhbbg1K2kgCkB1bVwyIR9m2L7PRPIhDUIXgGtyKw575yz3lTNs6X4JXnjV+LKM/m3MydnTbtOKIjtz6VhCBq4vSm3ncdrD2lk0VgUXSVKjVDJXJzijW1RQdsU7F77He8u68koNZTz8Oz5yGa6J3H3lZ0xYgXBK2QymlWWA+RWnYhskLBv2vmE+hBMCtbA7KX5drWyRT/2JsqZ2IvfB9Y4bWDNMFbJRFmC9E74SoS0CqulwjkC0+5bpcV1CZ8NMej4pjy0U+doDQsGyo1hzVJttIjhQ7GnBtRFN1UarUlH8F3xict+HY07rEzoUGPlWcjRFRr4/gChZgc3ZL2d8oAAAAASUVORK5CYII=") !important;
}
#toast-container.toast-top-center .toast,
#toast-container.toast-bottom-center .toast {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
#toast-container.toast-top-full-width .toast,
#toast-container.toast-bottom-full-width .toast {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
}
.toast {
    background-color: #030303;
}
.toast-success {
    background-color: #51A351;
}
.toast-error {
    background-color: #BD362F;
}
.toast-info {
    background-color: #2F96B4;
}
.toast-warning {
    background-color: #F89406;
}
progress-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    background-color: #000000;
    opacity: 0.4;
}
/*Animations*/
div[toast] {
    opacity: 1 !important;
}
div[toast].ng-enter {
    opacity: 0 !important;
    transition: opacity .3s linear;
}
div[toast].ng-enter.ng-enter-active {
    opacity: 1 !important;
}
div[toast].ng-leave {
    opacity: 1;
    transition: opacity .3s linear;
}
div[toast].ng-leave.ng-leave-active {
    opacity: 0 !important;
}
/*Responsive Design*/
@media all and (max-width: 240px) {
    #toast-container .toast.div {
        padding: 8px 8px 8px 50px;
        width: 11em;
    }
    #toast-container .toast-close-button {
        right: -0.2em;
        top: -0.2em;
    }
}
@media all and (min-width: 241px) and (max-width: 480px) {
    #toast-container .toast.div {
        padding: 8px 8px 8px 50px;
        width: 18em;
    }
    #toast-container .toast-close-button {
        right: -0.2em;
        top: -0.2em;
    }
}
@media all and (min-width: 481px) and (max-width: 768px) {
    #toast-container .toast.div {
        padding: 15px 15px 15px 50px;
        width: 25em;
    }
}
