<div id="dashboard" layout="column" flex>
    <div id="blocks" layout="column" flex data-simplebar>

        <div id="columns" layout="row" flex>
            <div class="" ng-repeat="column in columns" layout="column" flex>
                <div class="" layout="row" flex>
                    <ul class="cards card-list" data-as-sortable="dragCallbacks" data-ng-model="column.card" layout="row" layout-wrap="" flex>
                        <md-card class="card" md-whiteframe="5" style="margin:10px" ng-repeat="card in column.card track by card.id" ng-class="{'fullwidth' : card.name === 'widget3'}"
                                 data-as-sortable-item>
                            <div data-as-sortable-item-handle>
                                <div class="widget" layout="column" ng-if="card.name === 'widget1' ">
                                    <div class="card" flex layout="column">
                                        <div class="row card-head" layout="row" flex="nogrow">
                                            <div class="text mini-size" flex> گزارشات</div>
                                            <md-icon class="icon search" md-font-library="material-icons">assessment</md-icon>
                                        </div>
                                        <div class="chart" layout="column" layout-align="center center" style="min-width:100%; min-height: 532px; margin: 0 auto"  flex>
                                            <div id="activityChart" style="min-width:100%; min-height: 100%; margin: 0 auto" flex ng-show="reqChartReady"></div>
                                            <div ng-show="!reqChartReady" >
                                                <svg class="spinner" ng-show="!reqChartReady" viewBox="0 0 50 50" flex ng-cloak="">
                                                    <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
                                                </svg>
                                            </div>

                                            <div class="actions toggle" layout="row" layout-align="center center">
                                                <div class='icon green col-sm-4' ng-class="{'on' : reqToggle}" ng-click="toggleReqWidget()">
                                                    <div class='handle'>
                                                        <div class='glyphicon glyphicon-tree-deciduous'></div>
                                                    </div>
                                                </div>
                                            </div>



                                        </div>

                                    </div>
                                </div>
                                <div class="widget" flex layout="row" ng-if="card.name === 'widget2'">
                                    <div class="card" flex layout="column">
                                        <div class="row card-head" layout="row" flex="nogrow">
                                            <div class="text mini-size" flex> اخبار</div>
                                            <md-icon class="icon search" md-font-library="material-icons">chat</md-icon>
                                        </div>
                                        <div id="newsWidget"  layout="column" layout-align="center center"  flex>
                                            <div class="news" ng-click="newsView(news,$index)" ng-repeat="news in newsList track by $index" layout="row" flex="nogrow" ng-show="!selectedNews.id">
                                                <div class="image" flex="20">
                                                    <img class="img avatar"
                                                         ng-src="{{avatarDir + news.id + '?t=' + (today | date : 'sssdy')}} "
                                                         onerror="this.src='assets/img/icons/news.jpg'"
                                                         check-image="assets/img/icons/avatar-dark.png" alt="User Avatar">
                                                </div>
                                                <div class="texts" layout="column" flex>
                                                    <div class="title">
                                                        {{news.title}}
                                                    </div>
                                                    <div class="abstract">
                                                        {{news.abstract}}
                                                    </div>
                                                    <div class="info" layout="row" layout-align="start center">
                                                        <div layout="row" flex="50" layout-align="start center">
                                                            <div class="text message"> تاریخ انتشار خبر : </div>
                                                            <div class="text message"> {{news.created_date_fa}} </div>
                                                        </div>
                                                        <div layout="row" flex="50" layout-align="end center">
                                                            <div class="text message"> کاربر ایجاد کننده : </div>
                                                            <div class="text message"> {{news.created_user.role_name + ' ' + news.created_user.role_region }} </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <md-button ng-click="showMoreNews()" ng-show="newsItems.length > newsList.length && !selectedNews.id">
                                                خبر های گذشته...
                                            </md-button>

                                            <div class="news detail" layout="column" ng-show="selectedNews.id">
                                                <div class="head" layout="row">
                                                    <div class="image" flex="20">
                                                        <img class="img avatar"
                                                             ng-src="{{avatarDir + selectedNews.id + '?t=' + (today | date : 'sssdy')}} "
                                                             onerror="this.src='assets/img/icons/news.jpg'"
                                                             check-image="assets/img/icons/avatar-dark.png" alt="User Avatar">
                                                    </div>
                                                    <div class="texts" layout="column" flex>
                                                        <div class="title">
                                                            {{selectedNews.title}}
                                                        </div>
                                                        <div class="abstract">
                                                            {{selectedNews.abstract}}
                                                        </div>
                                                        <div class="info" layout="row" layout-align="start center">
                                                            <div layout="row" flex="50" layout-align="start center">
                                                                <div class="text message"> تاریخ انتشار خبر : </div>
                                                                <div class="text message"> {{selectedNews.created_date_fa}} </div>
                                                            </div>
                                                            <div layout="row" flex="50" layout-align="end center">
                                                                <div class="text message"> کاربر ایجاد کننده : </div>
                                                                <div class="text message"> {{selectedNews.created_user.role_name + ' ' + selectedNews.created_user.role_region }} </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="content">
                                                    {{selectedNews.content}}
                                                </div>
                                                <md-button class="button finger fab back" ng-click="newsView({},0)">
                                                    <md-icon class="icon" md-font-library="material-icon">keyboard_arrow_right</md-icon>
                                                </md-button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget" flex layout="row" ng-if="card.name === 'widget3'">
                                    <div class="card" flex layout="column">
                                        <div class="row card-head" layout="row" flex="nogrow">
                                            <div class="text mini-size" flex> وضعیت درخواست ها</div>
                                            <md-icon class="icon search" md-font-library="material-icons">chat</md-icon>
                                        </div>
                                        <div class="chart" layout="column" layout-align="center center" flex>
                                            <div id="reqDetailsChart" style="min-width:100%; min-height: 276px;max-height: 276px; margin: 0 auto" flex ng-show="reqChartReady"></div>
                                            <div ng-show="!reqChartReady" >
                                                <svg class="spinner" ng-show="!reqChartReady" viewBox="0 0 50 50" flex ng-cloak="">
                                                    <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
                                                </svg>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div flex
                                     ng-if="card.name !== 'widget1' &&  card.name !== 'widget2' &&  card.name !== 'widget3'">
                                </div>
                            </div>
                        </md-card>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>