<div id="container" class="panel" layout="row">
    <div id="sidebar" ng-class="{collapsed: collapsed}" flex-nogrow hide show-gt-sm>
        <div class="sidebar-content">
            <md-card class="sidebar-menu menu">
                <md-button ng-repeat="item in menu.user track by $index" class="button hover" ui-sref-active="active" ui-sref="{{item.sref}}">
                    <md-icon ng-if="item.icon.type == 'material'" class="icon" ng-class="{{item.class}}" font-icon-library="material-icons">{{item.icon.text}}</md-icon>
                    <md-icon ng-if="item.icon.type == 'ion'" class="icon ion-icons" md-font-icon="{{item.icon.text}}"></md-icon>
                    <span class="text">{{item.text}}</span>
                </md-button>
                <md-button class="button hover" ng-click="Collapse()">
                    <md-icon class="icon collapsible" font-icon-library="material-icons" ng-class="{'flip-x': collapsed}">arrow_forward</md-icon>
                    <span class="text">بستن فهرست</span>
                </md-button>
            </md-card>
        </div>
    </div>
    <div id="content" ui-view="module" flex></div>
</div>