<div id="container" class="panel" layout="row"> <!-- was layout row !-->
    <div id="sidebar" class="displayON" ng-class="{collapsed: collapsed}"md-swipe-left="expand()" md-swipe-right="shrink()"  flex-nogrow hide show-gt-sm data-simplebar >
        <div id="link_menu" layout="row" layout-align="center center">

        </div>
        <div class="sidebar-content" flex  ng-mouseleave="CollapseDelay()">
            <md-card class="sidebar-menu menu">
                <v-accordion class="vAccordion--sidebar" multiple  control="sidebarAccordion">
                    <v-pane id="vpane{{$index}}" class="vpane" ng-repeat="parent in menu.user track by $index" ng-if="accessParent(parent)"
                            expanded="expanded[$index]">
                        <v-pane-header layout="row" layout-align="space-between center"
                                       ng-class="{ 'have_child' : parent.have_child}" flex
                                       class="vpane_header">
                            <md-button ng-mouseenter="hoverItem($event, parent)" ng-mouseleave="leaveItem($event,parent)" layout="row" layout-align="space-between center" class="button"
                                       ui-sref-active="active" ui-sref="{{parent.sref}}" ng-if="!parent.have_child" draggable="false" md-no-ink>
                                <md-icon ng-if="parent.icon.type == 'material'" class="icon" ng-class="{{parent.class}}"
                                         font-icon-library="material-icons">{{parent.icon.text}}
                                </md-icon>
                                <md-icon ng-if="parent.icon.type == 'ion'" class="icon ion-icons"
                                         md-font-icon="{{parent.icon.text}}"></md-icon>
                                <div class="icon" layout="row" layout-align="center center" ng-if="parent.icon.type == 'image'">
                                <img ng-src="{{'/assets/img/icons/' + parent.icon.text}}" />
                                </div>
                                <div class="icon svg" ng-class="[parent.icon.class]" layout="row" ng-include="getSVG(parent.icon)"  layout-align="center center" ng-if="parent.icon.type == 'svg'">
                                </div>
                                <span class="text">{{parent.text}}</span>
                            </md-button>
                            <md-button ng-click="flip_y($index)" ng-mouseenter="hoverItem($event, parent)" ng-mouseleave="leaveItem($event,parent)" layout="row" layout-align="space-between center" class="button"
                                       ng-if="parent.have_child">
                                <md-icon ng-if="parent.icon.type == 'material'" class="icon" ng-class="{{parent.class}}"
                                         font-icon-library="material-icons">{{parent.icon.text}}
                                </md-icon>
                                <md-icon ng-if="parent.icon.type == 'ion'" class="icon ion-icons"
                                         md-font-icon="{{parent.icon.text}}"></md-icon>
                                <div class="icon" layout="row" layout-align="center center" ng-if="parent.icon.type == 'image'">
                                    <img ng-src="{{'/assets/img/icons/' + parent.icon.text}}"/>
                                </div>
                                <div class="icon svg"  ng-class="[parent.icon.class]" layout="row" ng-include="getSVG(parent.icon)"  layout-align="center center" ng-if="parent.icon.type == 'svg'">
                                </div>
                                <span class="text">{{parent.text}}</span>
                                <md-icon class="icon ion-icons flip_y" ng-class="{'transform': flipped[$index]}"
                                         md-font-icon="ion-flip-y"></md-icon>
                            </md-button>
                        </v-pane-header>
                        <v-pane-content tag="{{$index}}" ng-show="parent.have_child">
                            <md-button ng-mouseenter="hoverItem($event, child)" ng-mouseleave="leaveItem($event,child)"
                                       ng-repeat="child in menu.user track by $index"
                                       ng-if="accessChild(parent,child)" ui-sref-active="active"
                                       ui-sref="{{child.sref}}" layout="row" layout-align="space-between center"
                                       class="button hover" draggable="false" md-no-ink>
                                <div class="icon child" layout="row" layout-align="center center">
                                    <md-icon ng-if="child.icon.type == 'material'" class="icon" ng-class="{{child.class}}"
                                    font-icon-library="material-icons">{{child.icon.text}}
                                    </md-icon>
                                    <md-icon ng-if="child.icon.type == 'ion'" class="icon ion-icons"
                                    md-font-icon="{{child.icon.text}}"></md-icon>
                                    <img ng-src="{{'/assets/img/icons/' + child.icon.text}}" ng-if="child.icon.type == 'image'"/>
                                    <div class="icon svg"  ng-class="[child.icon.class]" layout="row" ng-include="getSVG(child.icon)"  layout-align="center center" ng-if="child.icon.type == 'svg'">
                                    </div>
                                </div>
                                <span class="text" draggable="false">{{child.text}}</span>
                            </md-button>
                        </v-pane-content>
                    </v-pane>
                </v-accordion>
                <md-button class="button" ng-click="lock = !lock">
                    <div class="icon svg"  layout="row" ng-include="'assets/img/icons/lock.svg'"  layout-align="center center" ng-if="!lock" style="height: 30px;">
                    </div>
                    <div class="icon svg"  layout="row" ng-include="'assets/img/icons/unlock.svg'"  layout-align="center center" ng-if="lock" style="height: 30px;">
                    </div>
                    <!--<div class="icon svg"  layout="row" ng-include="getSVG(child.icon)"  layout-align="center center" ng-if="child.icon.type == 'svg'">-->
                    <!--</div>-->
                    <md-icon class="icon" font-icon-library="material-icons" ng-if="!lock">lock</md-icon>
                    <md-icon class="icon" font-icon-library="material-icons" ng-if="lock">lock_open</md-icon>
                    <span class="text" ng-if="!lock">قفل فهرست</span>
                    <span class="text" ng-if="lock">بستن فهرست</span>
                </md-button>
            </md-card>
        </div>
    </div>
    <div id="content" ui-view="module" ng-class="{collapsed: collapsed}" flex></div>
</div>