#container.panel{
    height: 100%;
    padding: 15px;
}
#container.panel #content{
    position: relative;
}
#sidebar{
    position: relative;
    width: 200px;
    margin-right: 0;
    margin-left:  15px;
    -webkit-transition: width .3s;
    -moz-transition: width .3s;
    -ms-transition: width .3s;
    -o-transition: width .3s;
    transition: width .3s;
}
#sidebar .card-icon{
    float: right;
    width: 50px;
    height: 100%;
    line-height: inherit;
    color:inherit;

}
#sidebar .card-text{
    float: right;
    padding-right: 5px;
}
#sidebar.collapsed {
    width: 50px;
}
#sidebar .sidebar-content{
    position: fixed;
    width: inherit;
    height: 100%;
    top: 0;
    padding: 85px 0 15px;
}
#sidebar .sidebar-menu{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#sidebar .menu .button .icon.collapsible{
    -webkit-transition: transform .3s;
    -moz-transition: transform .3s;
    -ms-transition: transform .3s;
    -o-transition: transform .3s;
    transition: transform .3s;
}
#sidebar .button:hover .card-icon {
    color: #f2784b !important;
}
/* LTR Support */
[dir=ltr] #sidebar{
    margin-right: 15px;
    margin-left: 0;
}