 #container.panel{
    height: 100%;
    max-height: 100%;
    /*padding: 0 0 0 15px;*/
    flex : 1;
     background: url(/assets/img/pic/pattern.png);
}
#container.panel #content {
    position: relative;
    /*margin-right: 220px;*/
    /*-webkit-transition: margin-right .1s;*/
    /*-moz-transition: margin-right .1s;*/
    /*-ms-transition: margin-right .1s;*/
    /*-o-transition: margin-right .1s;*/
    /*transition: margin-right .1s;*/
}
 #container.panel #content.collapsed{
     /*margin-right:75px !important;*/
 }
 #container.panel #content.animate{
    /*-webkit-transition: margin-right .1s;*/
    /*-moz-transition: margin-right .1s;*/
    /*-ms-transition: margin-right .1s;*/
    /*-o-transition: margin-right .1s;*/
    /*transition: margin-right .1s;*/
}
#sidebar{
    position: relative;
    width: 220px;
    height: 100%;
    -webkit-transition: width .3s;
    -moz-transition: width .3s;
    -ms-transition: width .3s;
    -o-transition: width .3s;
    transition: width .3s;
    /* background: url(/assets/img/pic/r1.png); */
    background-size: unset;
    background-position: center center;
    background-color: #ffffff;
    box-shadow: 3px 6px 4px 3px;
    z-index: 999;
}
 #sidebar.collapsed {
     width: 50px;
 }
#sidebar .vAccordion--sidebar .vpane{
    width:100%;
}
#sidebar .card-icon{
    float: right;
    width: 50px;
    height: 100%;
    line-height: inherit;
    color:inherit;

}
#sidebar .card-text{
    float: right;
    padding-right: 5px;
}
#sidebar .sidebar-content{
    position: relative;
    width: inherit;
    height: 100%;
    top: 0;
    /*box-shadow: -2px 0 2px 0 #2a2a2a;*/
    background: linear-gradient(to right, #ffffff4d, #eaeaea33, #d0d0d073);
    padding-bottom: 74px;

}
#sidebar .sidebar-menu{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: transparent;
    box-shadow: none;
}
#sidebar .menu .button .icon.collapsible{
    -webkit-transition: transform .3s;
    -moz-transition: transform .3s;
    -ms-transition: transform .3s;
    -o-transition: transform .3s;
    transition: transform .3s;
}
#sidebar .button:hover .card-icon {
    color: #f2784b !important;
}
#sidebar #link_menu {
    width: 4px;
    height: 40px;
    background-color: #209e91;
    float: left;
    opacity: 0;
    position: absolute;
    z-index:999;
    -webkit-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -ms-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
    transition:all 0.5s ease;
}

#sidebar .icon.ion-icons.flip_y{
    position: absolute;
    right: 180px;
    /*float: left;*/
    margin-top:-5px;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    -webkit-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -ms-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
    transition:all 0.5s ease;

}
#sidebar .icon.ion-icons.flip_y.transform{
    margin-top:5px;
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

#sidebar .vAccordion--sidebar v-pane.is-expanded > v-pane-header::before {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

#sidebar .vAccordion--sidebar v-pane-header::before {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg); }
#sidebar .vAccordion--sidebar v-pane-header:hover, .vAccordion--sidebar v-pane-header:focus {
    color: #474343; }


/* LTR Support */
[dir=ltr] #sidebar{
    margin-right: 15px;
    margin-left: 0;
}