<div id="default" layout="column" flex>
    <div class="navbar header" layout="row" flex="nogrow">
        <md-button class="login" ng-click="login()">
            <img src="assets/img/icons/authenticate.png"/>
            <md-tooltip md-direction="down"> ورود به سامانه</md-tooltip>
        </md-button>
        <md-button class="login" ng-show="state.mode !== '' " ng-click="reset()">
            <img src="assets/img/icons/return.png"/>
            <md-tooltip md-direction="down"> بازگشت به صفحه ی اصلی</md-tooltip>
        </md-button>
    </div>
    <div class="content" ng-class="power ? 'on' : 'off' " layout="column" layout-align="center center" flex="80">




        <div class="container" ng-show="!state.mode">
            <div class="split left" ng-click="state.mode = 'recognition'">
                <h1>احراز هویت</h1>
                <a href="#" class="button">جزئیات</a>
            </div>
            <div class="split right" ng-click="state.mode = 'identify'">
                <h1>شناسایی هویت</h1>
                <a href="#" class="button">جزئیات </a>
            </div>
        </div>




        <div class="recognition" layout="column" layout-align="center center"  ng-show="state.mode === 'recognition' " flex>


            <div class="init" ng-class="{ 'active' : !state.status }" layout="column" layout-align="center center" flex="nogrow">
                <form class="row customForm form" name="userForm" layout="column" layout-align="center center" flex>

                    <div layout="column" layout-align="center center" flex="nogrow">
                        <img class="image avatar" ng-src="{{data.user ? avatarDir + '/' + data.user  : 'assets/img/icons/user.png' }} "
                             onerror="this.src='assets/img/icons/user.png'"
                             check-image="assets/img/icons/user.png" alt="User Avatar"/>


                        <div layout="row" layout-align="center center" style="position: relative;">
                            <div class="input" layout="row" layout-align="center center">
                                <div class="placeholder" layout="column" layout-align="center center">
                                    <md-icon class="icon" font-icon-library="material-icons">
                                        perm_identity
                                    </md-icon>
                                </div>
                                <md-input-container class="username" md-no-float>
                                    <input ng-model="data.user" placeholder="نام کاربری"
                                           aria-label="username" ng-minlength="5"  ng-disabled="state.status" required>
                                </md-input-container>
                            </div>
                        </div>
                        <div class="text message" ng-show="!state.status"> نام کاربری خود را وارد نمایید .</div>
                    </div>

                    <div class="actions" flex layout-align="end end" layout="column" ng-show="!state.status" flex>
                        <md-button class="power" ng-click="start()" ng-disabled="userForm.$invalid">
                            <img src="assets/img/icons/power.png"/>
                            <md-tooltip md-direction="down"> شروع</md-tooltip>
                        </md-button>
                    </div>

                </form>
            </div>

            <div class="record" layout="column" flex ng-show="state.status === 'record' ">
                <div id="progressBar">
                    <div class="bar"></div>
                </div>
                <div class="visualization fullwidth" layout="column" layout-align="center center" flex>
                    <!--<div class="text head prompt"> {{data.prompt}} </div>-->
                    <svg preserveAspectRatio="none" id="visualizer" version="1.1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs>
                            <mask id="mask">
                                <g id="maskGroup">
                                </g>
                            </mask>
                            <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
                                <stop offset="0%" style="stop-color:#ff0a0a;stop-opacity:1"/>
                                <stop offset="20%" style="stop-color:#f1ff0a;stop-opacity:1"/>
                                <stop offset="90%" style="stop-color:#d923b9;stop-opacity:1"/>
                                <stop offset="100%" style="stop-color:#050d61;stop-opacity:1"/>
                            </linearGradient>
                        </defs>
                        <rect x="0" y="0" width="100%" height="100%" fill="url(#gradient)" mask="url(#mask)"></rect>
                    </svg>
                    <!--<md-card class="countdown" layout="column" layout-align="center center" md-whiteframe="4">-->
                        <!--<div class="text head">-->
                            <!--{{second}}-->
                        <!--</div>-->

                    <!--</md-card>-->
                </div>
                <div class="prompt" layout="row" flex="nogrow" layout-align="center center">
                    <div class="word" flex="nogrow" ng-repeat="word in data.words">
                        {{word}}
                    </div>
                </div>
            </div>



            <div class="step2" ng-show="state.status === 'result' ">
                <div class="result animateBorder" ng-class="{ 'success' : data.status_code === 202 , 'fail' : data.status_code === 401 }" layout="row" layout-align="center center">
                    {{data.result}}
                </div>
            </div>

        </div>

        <div class="identify" layout="column" layout-align="center center"  ng-show="state.mode === 'identify' " flex>


            <div class="step0"  ng-show="!state.type" layout="column" layout-align="center center" flex="nogrow">
                <div id="fileUploader" hide></div>

                <div class="text head title"> روش های ارسال صوت </div>
                <div layout="row" layout-align="center center">
                    <md-button class="login" ng-click="identifyRecord()">
                        <img src="assets/img/icons/mic.png"/>
                        <md-tooltip md-direction="down">  میکروفن </md-tooltip>
                    </md-button>
                    <md-button class="login" ng-click="identifyUpload()" >
                        <img src="assets/img/icons/upload.png"/>
                        <md-tooltip md-direction="down"> بارگذاری فایل </md-tooltip>
                    </md-button>
                </div>
            </div>


            <div class="recorder" layout="column" layout-align="space-around center" ng-show="state.type === 'record' ">

                <div ng-show="state.status !== 'result' ">
                    <div class="live" layout="row" layout-align="center center">

                        <div class="timer" layout="row" layout-align="center center">
                            <div class="minutes">00</div> : <div class="seconds">00</div>
                        </div>
                        <div class="wrap" ng-show="state.status === 'record'">
                            <div class="live-circle-space">
                                <div class="main-circle"></div>
                            </div>
                        </div>
                    </div>
                    <div class="actions fullwidth" layout="row" layout-align="space-around center">
                        <md-button class="circle-btn" ng-show="state.status === 'record' " ng-click="stopRecord()">
                            <img src="assets/img/icons/stop.png"/>
                            <md-tooltip md-direction="down">  توقف </md-tooltip>
                        </md-button>


                        <md-button class="circle-btn" ng-show="state.status === 'stop' " ng-click="resetRecord()">
                            <img src="assets/img/icons/refresh.png"/>
                            <md-tooltip md-direction="down">  ضبط مجدد </md-tooltip>
                        </md-button>


                        <md-button class="circle-btn" ng-show="state.status === 'stop' " ng-click="stopRecord()">
                            <img src="assets/img/icons/upload2.png"/>
                            <md-tooltip md-direction="down">  بارگذاری </md-tooltip>
                        </md-button>
                    </div>
                </div>

            </div>

            <div class="step1" ng-show="state.status === 'result' ">
                <div id="container">
                    <div class="list-view">
                        <ul>
                            <li ng-repeat="user in data.users track by $index" layout="row" layout-align="center center">
                                <div class="avatar" flex="nogrow" layout="row" layout-align="center center">
                                    <img class="image avatar" ng-src="{{user.username ? avatarDir + '/' + user.username  : 'assets/img/icons/user.png' }} "
                                         onerror="this.src='assets/img/icons/user.png'"
                                         check-image="assets/img/icons/user.png" alt="User Avatar"/>
                                </div>
                                <div class="name row" flex="30">{{user.fullname}}</div>
                                <div class="name" flex>

                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" ng-style="{ 'width' : user.score + '%' }">
                                            <div class="score">{{(user.score).toFixed(2)}}% </div>
                                        </div>

                                    </div>

                                </div>
                            </li>
                            <li layout="row" layout-align="center center" ng-show="!data.users.length">

                                <div class="text haed"> موردی یافت نشد !</div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>


        </div>






    </div>
    <div class="space" layout="column" layout-align="center center" flex>
    </div>
    <div class="footer navbar" layout="row" layout-align="start center" flex="nogrow">
        <div class="row text mini-size support" flex> تلفن پشتیبانی : -</div>
        <div class="row text mini-size copyright" flex="nogrow"> تمامی حقوق متعلق به این سایت برای شرکت دژافزار محفوظ
            است. DEZH-AFZAR - Copyright ©2018
        </div>
    </div>

</div>