#default {
    background-color: #fff;
    background-image: url(/assets/img/pic/pattern1.png);
}

#default .md-button.login {
    width: 48px;
    height: 48px;
    min-width: 48px;
    /*margin: 0;*/
    border-radius: 50%;
    margin: 20px;
    box-shadow: 0 0 1px #000;
    padding: 2px;
    background-color: #fff;
}

#default .md-button.login img {
    height: 100%;
    width: auto;
}

#default .navbar.header {
    /*background-color: #3e3e3e;*/
    /*box-shadow: 0px 2px 9px #525252;*/
    color: #fff;
}

#default .navbar.footer {
    background-color: #3e3e3e;
    color: #fff;
    height: 35px;
    box-shadow: 0 -2px 9px #1f1f1f9e;
}

#default .content {
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
    background: url(/assets/img/pic/bg11.jpg);
    background-size: cover;
}

/*#default .content.off{*/
/*!*background: #cb2d3e;*!*/
/*background: -webkit-linear-gradient(to bottom, #ffffff00, #2b2b2bb8);*/
/*background: linear-gradient(to bottom, #ffffff00, #2b2b2bb8);*/
/*-webkit-transition: background 0.3s;*/
/*transition: background 0.3s;*/
/*}*/

/*#default .content.on{*/
/*background: -webkit-linear-gradient(to bottom, #ffffff00, rgba(0, 115, 28, 0.72));*/
/*background: linear-gradient(to bottom, #ffffff00, rgba(0, 115, 28, 0.72));*/
/*-webkit-transition: background 0.3s;*/
/*transition: background 0.3s;*/
/*}*/

#default .identify {

}

#default .identify .step0.active {
    background-color: #ffffff99;
    box-shadow: 0 0 5px 0px;
    height: 420px;
    width: 370px;
}

#default .identify .step0 .text.title {
    text-shadow: 0 0 2px #000;
    color: #fff;
    font-weight: bold;
}

#default .identify .step1 .list-view {
    background-color: #353535f2;
    width: 800px;
    border-radius: 4px;
    box-shadow: 0 0 2px #000;
}

#default .identify .step1 .list-view ul {
    padding: 0;
}

#default .identify .step1 .list-view ul li {
    width: 100%;
    height: 60px;
    max-height: 60px;
    color: #fff;
    text-shadow: 0 0 2px #000;
    background-color: transparent;
    font-weight: bold;
    padding: 0 10px;
}

#default .identify .step1 .list-view ul li:hover {
    background-color: rgba(65, 65, 65, 0.95);
}

#default .identify .step1 .list-view ul li .avatar img {
    width: 55px;
    height: 55px;
    box-shadow: 0 0 2px #000;
    border-radius: 50%;
    padding: 1px;
    background-color: #fff;
}

#default .identify .step1 .list-view ul li .score {
    font-size: 12px;
    text-shadow: 0 1px 2px #000;
    height: 100%;
    line-height: 34px;
}

#default .recorder {
    height: 100px;
    min-width: 100px;
}

#default .recorder .actions {
    width: 160px;
}

#default .recorder .live {
    background-color: #ffffffcf;
    border-radius: 4px;
    width: 100%;
}

#default .timer {
    font-size: 16px;
    direction: ltr;
    /* text-shadow: 0 0 3px #000; */
    color: #101010;
    padding-right: 10px;
}

#default .wrap {
    /*margin: 20px;*/
}

#default .live-circle-space {
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#default .main-circle {
    width: 10px;
    height: 10px;
    background: #e83922;
    border-radius: 50%;
    position: relative;
    z-index: 15;
}

#default .main-circle:after {
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid #e83922;
    content: " ";
    border-radius: 50%;
    opacity: 1;
    position: absolute;
    z-index: -5;
    animation: pulse 5s infinite 1s;
    transform-origin: center center;
    opacity: 0;
    left: -1px;
    top: -1px;
}

@keyframes pulse {
    25% {
        opacity: 1;
    }
    50% {
        transform: scale(2);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

#default .recognition {
    width: 100%;
}

#default .recognition .init {
    border-radius: 5px;
    transition: all 1s ease;
}

#default .recognition .init.active {
    background-color: #ffffff99;
    box-shadow: 0 0 5px 0px;
    height: 420px;
    width: 370px;
}

#default .recognition .record {
    width: 100%;
}

#default .recognition .record .visualization {
    box-shadow: 0 0 4px #000;
    background-color: #ffffff5e;
    /*height: 330px;*/
    /*max-height: 330px;*/
    /*margin: 10px;*/
    position: relative;
}

#default .recognition .record .visualization .countdown {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    text-align: center;
    background-color: #0000000d;
    color: #ff2b42;
    position: absolute;
    box-shadow: 0 0 1px #545454d1;
}

#default .recognition .record .visualization .countdown .text {
    font-weight: bold;
    text-shadow: 0 2px #000;
}

#default .recognition .record .visualization svg {
    display: block;
    width: 102%;
    min-width: 102%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;

}

#default .recognition .record .visualization path {
    stroke-linecap: square;
    stroke: white;
    stroke-width: 0.5px;
}

#default .recognition .record .prompt {
    background-color: #353b41;
    color: #fff;
    padding: 10px;
}

#default .recognition .record .prompt .word{
    margin: 0 5px;
    /* text-shadow: 0 0 2px #fff; */
    background-color: #ffffff;
    padding: 0 10px;
    box-shadow: 0 0 2px #000;
    border-radius: 4px;
    color: #000;
    cursor: default;
    min-width: 50px;
}

#default .recognition .record #progressBar {
    width: 100%;
    /* margin: 10px auto; */
    height: 15px;
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-size: 25px 25px;
    background-color: #c31b00;
    direction: ltr;
    float: left;
}

#default .recognition .record #progressBar div {
    direction: ltr;
    float: left;
    height: 100%;
    text-align: right;
    /* padding: 0 10px; */
    line-height: 22px;
    width: 100%;
    background-color: #424242;
    box-sizing: border-box;
    color: #fff;
    /*margin: auto;*/
    font-weight: bold;
    text-shadow: 0 1px 2px #000;
}


#default .recognition .step2 .result {
    background-color: #3a3a3ae8;
    width: 300px;
    height: 75px;
    box-shadow: inset 0px 0px 12px #000000c2;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0 0 2px #000;
}

#default .recognition .step2 .result.success {
    background-color: #4c9200e8;
}

#default .recognition .step2 .result.fail {
    background-color: rgba(146, 24, 29, 0.91);
}



#default .actions {
    padding: 20px;
}

#default .recognition .actions .power {
    width: 64px;
    height: 64px;
    min-width: 64px;
    padding: 0;
    margin: 0;
    border-radius: 50%;
}

#default .recognition .actions .power:disabled {
    cursor: not-allowed;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

#default .recognition .actions .power img {
    width: 64px;
    height: 64px;
}





a.solink {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    background: #f3f5f6;
    color: #cfd6d9;
    border: 1px solid #cfd6d9;
    line-height: 30px;
    text-decoration: none;
    transition: all .3s;
    z-index: 999
}

a.solink::first-letter {
    text-transform: capitalize
}

a.solink:hover {
    color: #428bca
}

#default .content .recognition .image.avatar {
    margin: 10px;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 2px #000;
    cursor: default;
    height: 168px;
    width: 168px;
}

#default .content .recognition .input {
    margin: 10px;
}

#default .content .recognition .placeholder {
    width: 56px;
    height: 60px;
    background-color: #363b41;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: default;
}

#default .content .recognition .placeholder .icon {
    font-size: 24px;
    text-align: center;
    height: 35px;
    width: 35px;
    margin: auto;
    color: #ffffffb8;
    font-weight: normal;
    line-height: 35px;
}

#default .content .recognition md-input-container {
    width: 264px;
    height: 60px;
    padding: 0;
    margin: 0;
}

#default .content .recognition md-input-container input::placeholder {
    color: rgba(125, 125, 125, 0.72);
}

#default .content .recognition md-input-container input::-ms-input-placeholder {
    color: rgba(125, 125, 125, 0.72);
}

#default .content .recognition md-input-container input:-ms-input-placeholder {
    color: rgba(125, 125, 125, 0.72);
}

#default .content .recognition md-input-container input {
    height: 60px;
    background-color: #3b4148;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    margin: 0;
}

#default .content .recognition md-input-container input:hover, #default .content .recognition md-input-container input:focus {
    background-color: #434a52;
}

#default .content .recognition .md-errors-spacer {
    display: none;
}

:root {
    --container-bg-color: #333;
    --left-bg-color: rgba(223, 39, 39, 0.7);
    --left-bg-hover-color: rgba(223, 39, 39, 0.16);
    --left-button-hover-color: rgba(161, 11, 11, 0.3);
    --right-bg-color: rgba(43, 43, 43, 0.8);
    --right-bg-hover-color: rgba(255, 255, 255, 0.04);
    --right-button-hover-color: rgba(92, 92, 92, 0.3);
    --hover-width: 75%;
    --other-width: 25%;
    --speed: 1000ms;
}

/*html, body {*/
/*padding:0;*/
/*margin:0;*/
/*font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
/*width: 100%;*/
/*height: 100%;*/
/*overflow-x: hidden;*/
/*}*/

#default .content .container h1 {
    font-size: 4rem;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    white-space: nowrap;
}

#default .content .container .button {
    display: block;
    position: absolute;
    left: 50%;
    top: 40%;
    height: 2.5rem;
    /*padding-top: 1.3rem;*/
    width: 15rem;
    text-align: center;
    color: #fff;
    border: #fff solid 0.2rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    transform: translateX(-50%);
}

#default .content .container .split.left .button:hover {
    background-color: var(--left-button-hover-color);
    border-color: var(--left-button-hover-color);
}

#default .content .container .split.right .button:hover {
    background-color: var(--right-button-hover-color);
    border-color: var(--right-button-hover-color);
}

#default .content .container {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--container-bg-color);
}

#default .content .container .split {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

#default .content .container .split.left {
    left: 0;
    background: url('/assets/img/pic/auth.png') center center no-repeat;
    background-size: cover;
}

#default .content .container .split.left:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: var(--left-bg-color);
}

#default .content .container .split.right {
    right: 0;
    background: url('/assets/img/pic/recognition.jpg') center center no-repeat;
    background-size: cover;
}

#default .content .container .split.right:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: var(--right-bg-color);
}

#default .content .container .split.left, .split.right, #default .content .container .split.right:before, .split.left:before {
    transition: var(--speed) all ease-in-out;
}

#default .content .container.hover-left .left {
    width: var(--hover-width);
}

#default .content .container.hover-left .right {
    width: var(--other-width);
}

#default .content .container.hover-left .right:before {
    z-index: 2;
}

#default .content .container.hover-left .left:before {
    background: var(--left-bg-hover-color);
}

#default .content .container.hover-right .right {
    width: var(--hover-width);

}

#default .content .container.hover-right .right:before {
    background: var(--right-bg-hover-color);
}

#default .content .container.hover-right .left {
    width: var(--other-width);
}

#default .content .container.hover-right .left:before {
    z-index: 2;
}

@media (max-width: 800px) {
    #default .content .container h1 {
        font-size: 2rem;
    }

    #default .content .container .button {
        width: 12rem;
    }
}

@media (max-height: 700px) {
    #default .content .container .button {
        top: 70%;
    }
}
