<!DOCTYPE html>

<html data-ng-app="dezhafzar" dir="rtl">

<head>

    <!-- Setup page -->
    <base href="/">
    <meta charset="UTF-8"/>
    <meta name="mobile-web-app-capable" content="yes"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="author" content="دژافزار " />
    <meta name="description" content="" />
    <title data-ng-if="!ngMeta.title">دژافزار</title>
    <title>{{ngMeta.title}}</title>

    <!-- Favicons -->
    <meta name="theme-color" content="#0ABD93">
    <meta name="msapplication-TileColor" content="#0ABD93">
    <meta name="msapplication-TileImage" content="assets/img/favicons/ms-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="57x57" href="assets/img/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="57x57" href="assets/img/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/img/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/img/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/img/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/img/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/img/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/img/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="assets/img/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="assets/img/favicons/manifest.json">

    <!-- OpenGraph meta tags -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://dezhafzar.com">
    <meta property="og:locale" content="fa_IR.UTF-8">
    <meta property="og:locale:alternate" content="en_US.UTF-8">
    <meta property="og:site_name" content="دژافزار ">
    <meta property="og:title" content="دژافزار ">
    <meta property="og:author" content="دژافزار">
    <!--<meta property="og:image" content="http://dezhafzar.ir/assets/img/logo/logo-dezhafzar-meta.png">-->
    <!--<meta property="og:image:type" content="image/png">-->
    <!--<meta property="og:image:width" content="60">-->
    <!--<meta property="og:image:height" content="60">-->

    <!-- Stylesheets -->
    <link rel="stylesheet" media="all" href="assets/css/material.css">
    <link rel="stylesheet" media="all" href="assets/fonts/ionicons/ionicons.css">
    <link rel="stylesheet" media="all" href="assets/fonts/iransans/iransans.css">
    <link rel="stylesheet" media="all" href="assets/fonts/materialicons/materialicons.css">
    <link rel="stylesheet" media="all" href="assets/fonts/titr/titr.css">
    <link rel="stylesheet" media="all" href="assets/css/style.css">
    <link rel="stylesheet" media="all" href="app/common/navigation/style.css">
    <link rel="stylesheet" media="all" href="app/common/home/style.css">
    <link rel="stylesheet" media="all" href="app/common/panel/style.css">
    <!--<link rel="stylesheet" media="all" href="app/modules/login/style.css">-->
    <link rel="stylesheet" media="all" href="app/modules/users/style.css">
    <link rel="stylesheet" media="all" href="app/modules/users/dialogs/style.css">
    <link rel="stylesheet" media="all" href="app/modules/logs/style.css">
    <link rel="stylesheet" media="all" href="app/modules/home/style.css">
    <link rel="stylesheet" media="all" href="app/modules/login/style.css">
    <link rel="stylesheet" media="all" href="app/modules/dashboard/style.css">
    <link rel="stylesheet" media="all" href="app/common/dialogs/confirm/style.css">
    <link rel="stylesheet" media="all" href="app/common/components/datepicker/style.css">
    <link rel="stylesheet" media="all" href="app/common/components/datepicker/dialogs/style.css">

    <!-- Application CDN vendors -->


    <script type="text/javascript" src="app/vendor/library/jquery.js"></script>
    <script type="text/javascript" src="app/vendor/library/angular_1.6.10.min.js"></script>
    <script type="text/javascript" src="app/vendor/library/angular-route_1.2.28.min.js"></script>
    <script type="text/javascript" src="app/vendor/library/angular-animate_1.6.10.min.js"></script>
    <script type="text/javascript" src="app/vendor/library/angular-aria_1.6.10.min.js"></script>
    <script type="text/javascript" src="app/vendor/library/angular-cookies_1.6.10.min.js"></script>
    <script type="text/javascript" src="app/vendor/library/angular-messages_1.6.10.min.js"></script>
    <script type="text/javascript" src="app/vendor/library/angular-resource_1.6.10.min.js"></script>
    <script type="text/javascript" src="app/vendor/library/angular-sanitize_1.6.10.min.js"></script>
    <script type="text/javascript" src="app/vendor/library/angular-material_1.1.10.min.js"></script>
    <script type="text/javascript" src="app/vendor/library/angular-toastr_2.1.1.min.js"></script>
    <script type="text/javascript" src="app/vendor/library/angular-toastr.tpls_2.1.1.min.js"></script>
    <script type="text/javascript" src="app/vendor/library/angular-ui-router_0.4.2.min.js"></script>
    <script type="text/javascript" src="app/vendor/library/angular-countUp_1.8.2.min.js"></script>
    <script type="text/javascript" src="app/vendor/library/ngStorage_0.3.11.min.js"></script>
    <script type="text/javascript" src="app/vendor/library/ngMeta_1.0.0.js"></script>
    <script type="text/javascript" src="app/vendor/library/ng-file-upload.min.js"></script>
    <script type="text/javascript" src="app/vendor/library/ng-img-crop.js"></script>
    <script type="text/javascript" src="app/vendor/library/moment.min.js"></script>
    <script type="text/javascript" src="app/vendor/library/moment_jalali.js"></script>
    <script type="text/javascript" src="app/vendor/library/persian-date.js"></script>
    <script type="text/javascript" src="app/vendor/library/persian-datepicker.js"></script>
    <script type="text/javascript" src="app/vendor/library/recorder.js"></script>
    <script type="text/javascript" src="app/vendor/library/dx.all.js"></script>


    <!-- Application vendors -->
    <script type="text/javascript" src="app/vendor/library/satellizer.js"></script>

    <!-- Application providers -->
    <script type="text/javascript" src="app/vendor/providers/menu.js"></script>

    <!-- Application services -->
    <!--<script type="text/javascript" src="app/vendor/services/adapter.js"></script>-->
    <script type="text/javascript" src="app/vendor/services/api.js"></script>
    <script type="text/javascript" src="app/vendor/services/authentication.js"></script>
    <script type="text/javascript" src="app/vendor/services/device.js"></script>
    <script type="text/javascript" src="app/vendor/services/fullscreen.js"></script>
    <script type="text/javascript" src="app/vendor/services/scroll.js"></script>
    <script type="text/javascript" src="app/vendor/services/v-accordion.min.js"></script>

    <!-- Application directives -->
    <script type="text/javascript" src="app/vendor/directives/formValidation.js"></script>
    <script type="text/javascript" src="app/vendor/directives/tableList.js"></script>
    <script type="text/javascript" src="app/vendor/directives/typeInputs.js"></script>
    <script type="text/javascript" src="app/vendor/directives/checkImage.js"></script>

    <!-- Application modules -->
    <script type="text/javascript" src="app/common/dialogs/module.js"></script>
    <script type="text/javascript" src="app/common/components/datepicker/module.js"></script>
    <script type="text/javascript" src="app/common/navigation/module.js"></script>
    <script type="text/javascript" src="app/common/home/module.js"></script>
    <script type="text/javascript" src="app/common/panel/module.js"></script>
    <!--<script type="text/javascript" src="app/modules/login/module.js"></script>-->
    <script type="text/javascript" src="app/modules/logout/module.js"></script>
    <script type="text/javascript" src="app/modules/home/module.js"></script>
    <script type="text/javascript" src="app/modules/login/module.js"></script>
    <script type="text/javascript" src="app/modules/dashboard/module.js"></script>
    <script type="text/javascript" src="app/modules/users/module.js"></script>
    <script type="text/javascript" src="app/modules/logs/module.js"></script>


    <!-- Application controllers -->
    <script type="text/javascript" src="app/common/dialogs/confirm/controller.js"></script>
    <script type="text/javascript" src="app/common/components/datepicker/controller.js"></script>
    <script type="text/javascript" src="app/common/components/datepicker/dialogs/controller.js"></script>
    <script type="text/javascript" src="app/common/navigation/controller.js"></script>
    <script type="text/javascript" src="app/common/home/controller.js"></script>
    <script type="text/javascript" src="app/common/panel/controller.js"></script>
    <!--<script type="text/javascript" src="app/modules/login/controller.js"></script>-->
    <script type="text/javascript" src="app/modules/home/controller.js"></script>
    <script type="text/javascript" src="app/modules/login/controller.js"></script>
    <script type="text/javascript" src="app/modules/dashboard/controller.js"></script>
    <script type="text/javascript" src="app/modules/users/controller.js"></script>
    <script type="text/javascript" src="app/modules/users/dialogs/controller.js"></script>
    <script type="text/javascript" src="app/modules/logs/controller.js"></script>


    <!-- Scripts -->
    <script type="text/javascript" src="app/config.js"></script>
    <script type="text/javascript" src="app/app.config.js"></script>
    <script type="text/javascript" src="app/app.views.js"></script>
    <script type="text/javascript" src="app/app.module.js"></script>

</head>

<body data-layout="column">

    <!-- Navigation -->
    <div id="navigation" data-ng-include="'app/common/navigation/partial.html'" data-flex="nogrow" data-ng-show="navigation"></div>

    <!-- Layout -->
    <div id="wrapper" data-ui-view="layout" layout="column" data-flex>

    </div>

    <div class="loading" ng-if="waitingFlag" flex>
        <div class='bullet'></div>
        <div class='bullet'></div>
        <div class='bullet'></div>
        <div class='bullet'></div>
    </div>

</body>

</html>