<div id="confirm" class="card" layout="column" flex>
    <div class="card-head" flex="nogrow">{{data.title ? data.title : 'تایید عملیات' }}
        <md-button class="button finger fab close" ng-click="reject()">
            <md-icon class="icon" md-font-library="material-icon">close</md-icon>
        </md-button>
    </div>
    <div class="content" layout="column" flex>
        <div class="section" layout="column" layout-align="center center" flex>
            <div class="text description"> {{data.description}}</div>
            <div class="text hint" ng-show="data.hint"> {{data.hint}}</div>
        </div>

        <div class="section" layout="row" layout-align="center end" flex="nogrow">
            <div class="row" layout="row" flex="nogrow" layout-align="space-between center">
                <div class="actions" layout="row" layout-align="center center" flex>
                    <md-button type="button" class="button secondary" ng-click="reject()"
                               aria-label="reject">
                        <span> لغو </span>
                    </md-button>
                    <md-button type="button" class="button primary" ng-click="accept()"
                               aria-label="accept">
                        <span> تایید </span>
                    </md-button>
                </div>
            </div>
        </div>
    </div>
</div>