#confirm {
    width: 550px;
    min-height: 200px;
    margin-bottom: 0 !important;
}
#confirm .description {
    font-size: 16px;
    font-weight: 800;
    color: #454545;

}
#confirm .hint {
    font-size: 12px;
    font-weight: 600;
    color: #454545;
}
#confirm .actions {
    margin-bottom:10px;
}
#confirm .actions .button
{
    width: 150px;
    height: 33px;
    margin: 0 5px;
}