<!--<div id="home-map" ng-class="[state, {xs: $mdMedia('xs'),mobile: Device()}]">-->
    <!--<div id="float-box">-->
        <!--<div class="button-container" ng-class="{toggle: toggle}" ng-if="button" md-whiteframe="3" hide show-xs>-->
            <!--<md-button class="button primary" ng-click="Toggle()">{{button}}</md-button>-->
        <!--</div>-->
        <!--<div class="float-box" ng-class="{toggle: toggle, unrestricted: unrestricted, xs: $mdMedia('xs')}" md-whiteframe="3" ui-view="module" hide-xs></div>-->
    <!--</div>-->
    <!--<map-box click="ClickOnMap" margin="{right: 500}"></map-box>-->
<!--</div>-->
<!--<div id="container" class="home">-->
    <div id="content" ui-view="nested" layout="column" flex></div>
<!--</div>-->