#home-map {
    position: relative;
    height: 100%;
}
#home-map .button-container {
    position: absolute;
    top: 15px;
    left: unset;
    right: 50%;
    z-index: 1;
    -webkit-transform: translate(50%, 0);
    -moz-transform: translate(50%, 0);
    -ms-transform: translate(50%, 0);
    -o-transform: translate(50%, 0);
    transform: translate(50%, 0);
}
#home-map .button-container.toggle {
    display: none;
}
#home-map .button-container .button {
    height: 30px;
    padding: 0 30px;
}
#home-map .float-box {
    width: 340px;
    position: absolute;
    top: 50%;
    left: unset;
    right: 5%;
    z-index: 1;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
#home-map .float-box.xs.toggle, #home-map .float-box.xs.unrestricted {
    display: block;
    top: 15px;
    left: unset;
    right: 50%;
    -webkit-transform: translate(50%, 0);
    -moz-transform: translate(50%, 0);
    -ms-transform: translate(50%, 0);
    -o-transform: translate(50%, 0);
    transform: translate(50%, 0);
}
#home-map .float-box .float-box-content {
    margin: 0;
}
#home-map .float-box .section{
    padding-top: 30px;
    padding-bottom: 10px;
}
#home-map .float-box .section.dark{
    padding-top: 0;
    padding-bottom: 30px;
}
#home-map .float-box .section.dark .button.close{
    position: absolute;
    width: 30px;
    height: 30px;
    top: 10px;
    left: 10px;
    right: unset;
    line-height: 30px;
    color: #fff;
    z-index: 1;
}
#home-map .float-box .section.dark .button.close .icon{
    font-size: 14px;
    line-height: 24px;
}
#home-map .float-section{
    display: block;
    position: absolute;
    width: 90%;
    height: 30px;
    line-height: 30px;
    top: -15px;
    right: 5%;
    left: 5%;
    margin: 0;
    padding: 0 5px;
    border-radius: 2px;
    background-color: #f3f3f3;
    box-shadow: 0 1px 3px #848484;
}
#home-map .float-section .text{
    padding: 0 5px;
}
#home-map .float-section .text.left{
    float: left;
}
#container.home {
    position: relative;
    width: 100%;
    background-color: transparent;
}
#container.home #content {
    position: relative;
    background-color: #fff;
}

/* LTR Support */
[dir=ltr] #home-map .button-container{
    left: 50%;
    right: unset;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
[dir=ltr] #home-map .float-box{
    left: 5%;
    right: unset;
}
[dir=ltr] #home-map .float-box.xs.toggle, [dir=ltr] #home-map .float-box.xs.unrestricted{
    left: 50%;
    right: unset;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
[dir=ltr] #home-map .float-box .section.dark .button.close{
    left: unset;
    right: 10px;
}
[dir=ltr] #home-map .float-section .text.left{
    float: right;
}