@font-face {
    font-family: 'IS';
    font-weight: normal;
    font-style: normal;
    src: url('../../fonts/iransans/iransans.eot');
    src: url('../../fonts/iransans/iransans.eot#iefix') format('embedded-opentype'),
    url('../../fonts/iransans/iransans.ttf')  format('truetype'),
    url('../../fonts/iransans/iransans.woff') format('woff'),
    url('../../fonts/iransans/iransans.woff2') format('woff2');
}
@font-face {
    font-family: 'ISN';
    font-weight: normal;
    font-style: normal;
    src: url('../../fonts/iransans/iransansnumbers.eot');
    src: url('../../fonts/iransans/iransansnumbers.eot#iefix') format('embedded-opentype'),
    url('../../fonts/iransans/iransansnumbers.ttf')  format('truetype'),
    url('../../fonts/iransans/iransansnumbers.woff') format('woff'),
    url('../../fonts/iransans/iransansnumbers.woff2') format('woff2');
}