<div id="users" layout="column" flex layout-fill>
    <md-card class="card list-card customDataGrid" flex>
        <div class="row card-head" layout="row">
            لیست کاربران سیستم
            <div class="searchWrapper" layout="row" layout-align="center center">
                <!--<md-button class="button  primary add filter animateBorder" md-whiteframe="2dp" ng-click="()">-->
                    <!--<md-button class="button filter fab primary" md-whiteframe="2dp"-->
                               <!--ng-click="filterEnable = !filterEnable">-->
                        <!--<md-tooltip md-direction="down">فیلتر</md-tooltip>-->
                        <!--<md-icon class="icon" md-font-icon="material-icons">filter_list</md-icon>-->
                    <!--</md-button>-->


                    <!--<form class="search-form" name="headerTrackingForm">-->
                        <!--<md-input-container md-no-float>-->
                            <!--<input standard-keyboard name="search" ng-model="quickSearch" placeholder="جستجو">-->
                        <!--</md-input-container>-->
                    <!--</form>-->

                    <md-button class="button  primary add filter animateBorder" md-whiteframe="2dp" ng-click="updateUser()">
                        <md-tooltip md-direction="down">افزودن کاربر </md-tooltip>
                        <md-icon class="icon ion-icons success" font-icon-library="material-icons">add</md-icon>
                    </md-button>



                <!--</md-button>-->
            </div>


        </div>
        <div class="row filters" layout="row" flex="nogrow" ng-class="filterEnable ? 'filterShow' : 'filterHide' " layout-wrap>
            <div class="col" layout="row" layout-align="start center" ng-repeat="item in DefaultfilterConfig track by $index" flex="20">
                <div class="col text mini-size" flex="30"> {{item.name}}:</div>
                <md-input-container md-no-float flex ng-if="item.type === 'string'">
                    <input standard-keyboard name="item.key" ng-model="DefaultfilterModel[item.key]" ng-init="DefaultfilterModel[item.key] = item.value"  ng-model-options="{ debounce: 500 }" placeholder="">
                </md-input-container>
                <md-input-container flex ng-if="item.type === 'choices'">
                    <md-select ng-model="DefaultfilterModel[item.key]" ng-init="DefaultfilterModel[item.key] = item.value" multiple>
                        <md-option ng-repeat="choice in item.choices" value="{{choice.value}}"> {{choice.name}} </md-option>
                    </md-select>
                </md-input-container>
                <datepicker
                        form-name=""
                        style="padding-left: 3px"
                        ng-model="DefaultfilterModel[item.key + '_from']"
                        config="fromDatepickerConfig"
                        type="from"
                        ng-if="item.type === 'date'"
                        flex></datepicker>
                <datepicker
                        form-name=""
                        style="padding-right: 3px"
                        ng-model="DefaultfilterModel[item.key + '_to']"
                        config="toDatepickerConfig"
                        type="to"
                        ng-if="item.type === 'date'"
                        flex></datepicker>
                <div ng-if="item.type === 'number' " layout="row" flex>
                    <md-input-container flex="nogrow">
                        <md-select ng-model="DefaultfilterModel[item.key + '_op' ]">
                            <md-option value="="> برابر </md-option>
                            <md-option value="!="> نا برابر </md-option>
                            <md-option value=">"> بزرگتر </md-option>
                            <md-option value="<"> کوچکتر </md-option>
                            <md-option value="<>"> بین </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container md-no-float flex style="margin-right: 5px;" >
                        <input standard-keyboard name="item.key" ng-model="DefaultfilterModel[item.key + '_val1']" ng-model-options="{ debounce: 500 }" placeholder="">
                    </md-input-container>
                    <md-input-container md-no-float flex style="margin-right: 5px;" ng-if="DefaultfilterModel[item.key + '_op' ] === '<>' ">
                        <input standard-keyboard name="item.key" ng-model="DefaultfilterModel[item.key + '_val2']" ng-model-options="{ debounce: 500 }" placeholder="">
                    </md-input-container>
                </div>
            </div>
        </div>
        <div class="card-section list selective"
             table-list="usersList"
             table-list-data="{sort_field:'firstname', per_page:15, page:1}"
             table-list-handlers="{get: GetUsersList}"
             layout="column" flex>
            <div class="list-head" layout="row" flex="nogrow" md-whiteframe="2dp">
                <div class="col align-center" layout="row" layout-align="center center" flex="15">
                    <div class="text">تاریخ ایجاد</div>
                </div>
                <div class="col align-center" flex="20">
                    <div class="text">نام کاربری</div>
                </div>
                <div class="col align-center" flex="20">
                    <div class="text">نام کامل</div>
                </div>
                <div class="col align-center" flex="30">
                    <div class="text">توضیحات</div>
                </div>
                <div class="col align-center" flex="10">
                    <div class="text">نوع</div>
                </div>


                <div class="col" flex="5">
                </div>
            </div>
            <div class="list-section" flex>
                <div layout="column" class="row"
                     ng-repeat="item in usersList.items.records track by $index" flex>
                    <div class="dataRow" layout="row" layout-align="start center"
                         ng-click="rowClicked(item,$index,$event)" flex
                         list-item="{list: usersList, index: $index}">
                        <div class="col" layout="column" flex="15"  layout-align="center center">
                            <div class="text">{{item.created_date_fa}}
                            </div>
                            <div class="text mini-size relativeTime"> {{item.r_created_date_fa}}
                            </div>
                        </div>
                        <div class="col" layout="column" flex="20"  layout-align="center center">
                            <div class="text" style="overflow: visible;direction: ltr;">{{item.username}}</div>
                        </div>
                        <div class="col align-center" layout="column" flex="20" layout-align="center center">
                            <div class="text">{{item.fullname}}</div>
                        </div>

                        <div class="col align-center" layout="column" flex="30" layout-align="center center">
                            <div class="text">{{item.description}}</div>
                        </div>
                        <div class="col align-center" layout="column" flex="10" layout-align="center center">
                            <div class="text">{{item.type}}</div>
                        </div>

                        <div class="col actions" layout="column" flex="5" layout-align="center start">
                            <md-fab-speed-dial class="md-scale" md-direction="right" ng-click="$event.stopPropagation()">
                                <md-fab-trigger>
                                    <md-button class="button finger fab hover">
                                        <md-icon class="primary" font-icon-library="material-icons">more_vert</md-icon>
                                    </md-button>
                                </md-fab-trigger>
                                <md-fab-actions>
                                    <md-button class="button finger fab primary" md-whiteframe="2dp" ng-click="deleteUser(item)">
                                        <md-tooltip md-direction="bottom">حذف</md-tooltip>
                                        <md-icon class="icon" font-icon-library="material-icons">
                                            delete
                                        </md-icon>
                                    </md-button>
                                    <md-button class="button finger fab primary" md-whiteframe="2dp" ng-click="updateUser(item)">
                                        <md-tooltip md-direction="bottom">ویرایش</md-tooltip>
                                        <md-icon class="icon" font-icon-library="material-icons">
                                            edit
                                        </md-icon>
                                    </md-button>
                                    <md-button class="button finger fab primary" md-whiteframe="2dp" ng-click="references(item)">
                                        <md-tooltip md-direction="bottom">مراجع</md-tooltip>
                                        <md-icon class="icon" font-icon-library="material-icons">
                                            import_contacts
                                        </md-icon>
                                    </md-button>
                                    <md-button class="button finger fab primary" md-whiteframe="2dp" ng-click="evaluations(item)">
                                        <md-tooltip md-direction="bottom">ارزیابی ها</md-tooltip>
                                        <md-icon class="icon" font-icon-library="material-icons">
                                            assignment
                                        </md-icon>
                                    </md-button>
                                </md-fab-actions>
                            </md-fab-speed-dial>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-footer" layout="row" flex="nogrow">
                <div class="col" flex>
                    <div class="text">مجموع رکوردها:</div>
                    <div class="text">{{usersList.items.count}}</div>
                </div>
                <div class="col" flex="nogrow">
                    <md-button class="button finger fab" aria-label="Previous Page"
                               ng-click="usersList.changePage(-1)">
                        <md-icon class="icon" font-icon-library="material-icons">keyboard_arrow_right
                        </md-icon>
                    </md-button>
                </div>
                <div class="col" flex="nogrow">
                    <md-input-container class="" md-no-float>
                        <input ng-model="usersList.page_num" ng-model-options="{debounce: 300}"
                               aria-label="Table Page Number">
                    </md-input-container>
                    <div class="text">از {{usersList.maxPage}} برگه</div>
                </div>
                <div class="col" flex="nogrow">
                    <md-button class="button finger fab" aria-label="Next Page"
                               ng-click="usersList.changePage(1)">
                        <md-icon class="icon" font-icon-library="material-icons">keyboard_arrow_left
                        </md-icon>
                    </md-button>
                </div>
            </div>
        </div>
    </md-card>
</div>