#users {

}
#users .role .name {
    background-color: #585858;
    color: #fff;
    padding: 3px 5px;
    border-radius: 4px;
    line-height: 1;
    margin: 1px 0;
    font-size: 9px;
}
#users .role .department {
    background-color: #969696;
    color: #fff;
    padding: 3px 5px;
    border-radius: 4px;
    line-height: 1;
    margin: 1px 0;
    font-size: 9px;
}
#users .role .company {
    background-color: #969696;
    color: #fff;
    padding: 3px 5px;
    border-radius: 4px;
    line-height: 1;
    margin: 1px 0;
    font-size: 9px;
}
.animateBorder {
    overflow: hidden;
    position: relative;
}
.animateBorder::before, .animateBorder::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    border: 1px solid transparent;
    width: 0;
    height: 0;
}
.animateBorder::before {
    top: 0;
    left: 0;
    border-top-color: #f1f1f1;
    border-right-color: #f1f1f1;
    animation: border 2s infinite;
}
.animateBorder::after {
    bottom: 0;
    right: 0;
    animation: border 2s 1s infinite, borderColor 2s 1s infinite;
}

@keyframes border {
    0% {
        width: 0;
        height: 0;
    }
    25% {
        width: 100%;
        height: 0;
    }
    50% {
        width: 100%;
        height: 100%;
    }
    100% {
        width: 100%;
        height: 100%;
    }
}
@keyframes borderColor {
    0% {
        border-bottom-color: #f1f1f1;
        border-left-color: #f1f1f1;
    }
    50% {
        border-bottom-color: #f1f1f1;
        border-left-color: #f1f1f1;
    }
    51% {
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    100% {
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
}