<div id="logs" layout="column" flex layout-fill>
    <md-card class="card list-card customDataGrid" flex>
        <div class="row card-head" layout="row">
            لیست رویداد های سیستم



        </div>
        <div class="row filters" layout="row" flex="nogrow" ng-class="filterEnable ? 'filterShow' : 'filterHide' " layout-wrap>
            <div class="col" layout="row" layout-align="start center" ng-repeat="item in filterConfig track by $index" flex="20">
                <div class="col text mini-size" flex="30"> {{item.name}}:</div>
                <md-input-container md-no-float flex ng-if="item.type === 'string'">
                    <input standard-keyboard name="item.key" ng-model="filterModel[item.key]" ng-init="filterModel[item.key] = item.value"  ng-model-options="{ debounce: 500 }" placeholder="">
                </md-input-container>
                <md-input-container flex ng-if="item.type === 'choices'">
                    <md-select ng-model="filterModel[item.key]" ng-init="filterModel[item.key] = item.value" multiple>
                        <md-option ng-repeat="choice in item.choices" value="{{choice.value}}"> {{choice.name}} </md-option>
                    </md-select>
                </md-input-container>
                <datepicker
                        form-name=""
                        style="padding-left: 3px"
                        ng-model="filterModel[item.key + '_from']"
                        config="fromDatepickerConfig"
                        type="from"
                        ng-if="item.type === 'date'"
                        flex></datepicker>
                <datepicker
                        form-name=""
                        style="padding-right: 3px"
                        ng-model="filterModel[item.key + '_to']"
                        config="toDatepickerConfig"
                        type="to"
                        ng-if="item.type === 'date'"
                        flex></datepicker>
                <div ng-if="item.type === 'number' " layout="row" flex>
                    <md-input-container flex="nogrow">
                        <md-select ng-model="filterModel[item.key + '_op' ]">
                            <md-option value="="> برابر </md-option>
                            <md-option value="!="> نا برابر </md-option>
                            <md-option value=">"> بزرگتر </md-option>
                            <md-option value="<"> کوچکتر </md-option>
                            <md-option value="<>"> بین </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container md-no-float flex style="margin-right: 5px;" >
                        <input standard-keyboard name="item.key" ng-model="filterModel[item.key + '_val1']" ng-model-options="{ debounce: 500 }" placeholder="">
                    </md-input-container>
                    <md-input-container md-no-float flex style="margin-right: 5px;" ng-if="filterModel[item.key + '_op' ] === '<>' ">
                        <input standard-keyboard name="item.key" ng-model="filterModel[item.key + '_val2']" ng-model-options="{ debounce: 500 }" placeholder="">
                    </md-input-container>
                </div>
            </div>
        </div>
        <div class="card-section list selective"
             table-list="logsList"
             table-list-data="{sort_field:'firstname', per_page:15, page:1}"
             table-list-handlers="{get: GetLogsList}"
             layout="column" flex>
            <div class="list-head" layout="row" flex="nogrow" md-whiteframe="2dp">
                <div class="col align-center" flex="10">
                    <div class="text">کد وضعیت</div>
                </div>
                <div class="col align-center" layout="row" layout-align="center center" flex="15">
                    <div class="text">تاریخ ایجاد</div>
                </div>
                <div class="col align-center" flex="20">
                    <div class="text">نام کاربری</div>
                </div>
                <div class="col align-center" flex="20">
                    <div class="text">اقدام</div>
                </div>
                <div class="col align-center" flex="30">
                    <div class="text">پیام</div>
                </div>

                <div class="col" flex="5">
                </div>
            </div>
            <div class="list-section" flex>
                <div layout="column" class="row"
                     ng-repeat="item in logsList.items.records track by $index" flex>
                    <div class="dataRow" layout="row" layout-align="start center"
                         ng-click="rowClicked(item,$index,$event)" flex
                         list-item="{list: logsList, index: $index}">

                        <div class="col align-center" layout="row" flex="10" layout-align="center center">
                            <div class="status circle" ng-class="{'successful' : item.status_code < 400 , 'client_error' : item.status_code >= 400 && item.status_code < 500 , 'server_error' :  item.status_code >= 500 }"></div>
                            <div class="text status">{{item.status_code}}</div>
                        </div>

                        <div class="col" layout="column" flex="15"  layout-align="center center">
                            <div class="text">{{item.created_date_fa}}
                            </div>
                            <div class="text mini-size relativeTime"> {{item.r_created_date_fa}}
                            </div>
                        </div>
                        <div class="col" layout="column" flex="20"  layout-align="center center">
                            <div class="text" style="overflow: visible;direction: ltr;">{{item.username}}</div>
                        </div>
                        <div class="col align-center" layout="column" flex="20" layout-align="center center">
                            <div class="text">{{item.action}}</div>
                        </div>

                        <div class="col align-center" layout="column" flex="30" layout-align="center center">
                            <div class="text">{{item.message}}</div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="list-footer" layout="row" flex="nogrow">
                <div class="col" flex>
                    <div class="text">مجموع رکوردها:</div>
                    <div class="text">{{logsList.items.count}}</div>
                </div>
                <div class="col" flex="nogrow">
                    <md-button class="button finger fab" aria-label="Previous Page"
                               ng-click="logsList.changePage(-1)">
                        <md-icon class="icon" font-icon-library="material-icons">keyboard_arrow_right
                        </md-icon>
                    </md-button>
                </div>
                <div class="col" flex="nogrow">
                    <md-input-container class="" md-no-float>
                        <input ng-model="logsList.page_num" ng-model-options="{debounce: 300}"
                               aria-label="Table Page Number">
                    </md-input-container>
                    <div class="text">از {{logsList.maxPage}} برگه</div>
                </div>
                <div class="col" flex="nogrow">
                    <md-button class="button finger fab" aria-label="Next Page"
                               ng-click="logsList.changePage(1)">
                        <md-icon class="icon" font-icon-library="material-icons">keyboard_arrow_left
                        </md-icon>
                    </md-button>
                </div>
            </div>
        </div>
    </md-card>
</div>