#logs {

}
#logs .text.status{
    width: 50px;
    background-color: #585858c7;
    color: #fff;
    border-radius: 4px;
}
#logs .status.circle{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0 5px;
    box-shadow: 0 1px 2px #000;
}
#logs .status.circle.successful{
    background-color: #32d668;
}
#logs .status.circle.client_error{
    background-color: #f30;
}
#logs .status.circle.server_error{
    background-color: #c35ab7;
}
