@font-face {
    font-family: 'titr';
    font-weight: normal;
    font-style: normal;
    src: url('../../fonts/titr/titr.eot');
    src: url('../../fonts/titr/titr.eot#iefix') format('embedded-opentype'),
    url('../../fonts/titr/titr.ttf')  format('truetype'),
    url('../../fonts/titr/titr.woff') format('woff');
}