<div id="enroll" layout="column" flex layout-fill>
    <md-card class="card list-card customDataGrid" flex>
        <div class="row card-head" layout="row">
            افزودن صوت مرجع کاربر {{data.fullname}}
            <!--<div class="searchWrapper" layout="row" layout-align="center center">-->



                <md-button class="button finger fab close" ng-click="reject()">
                    <md-icon class="icon" md-font-library="material-icon">close</md-icon>
                </md-button>

            <!--</div>-->

        </div>
        <div class="" layout="column" layout-align="center center" flex>
            <div class="" layout="column" layout-align="center center" flex="nogrow">
                <div id="fileUploader" hide></div>

                <div class="highlight_input" layout="row" layout-align="center center">
                    <div class="placeholder" layout="column" layout-align="center center">
                        <md-icon class="icon" font-icon-library="material-icons">
                            comment
                        </md-icon>
                    </div>
                    <textarea ng-model="data.prompt" class="prompt">

                    </textarea>
                    <!--<md-input-container class="username" md-no-float>-->
                        <!--<input ng-model="data.prompt" placeholder="متن"-->
                               <!--aria-label="prompt" >-->
                    <!--</md-input-container>-->
                </div>


                <div class="recorder" layout="column" layout-align="space-around center" ng-show="state.mode === 'record' ">
                    <div class="live" layout="row" layout-align="center center">

                        <div class="timer" layout="row" layout-align="center center">
                            <div class="minutes">00</div> : <div class="seconds">00</div>
                        </div>
                        <div class="wrap" ng-show="state.status === 'record'">
                            <div class="live-circle-space">
                                <div class="main-circle"></div>
                            </div>
                        </div>
                    </div>


                    <div class="actions fullwidth" layout="row" layout-align="space-around center">
                        <md-button class="circle-btn" ng-show="state.status === 'record' " ng-click="stopRecord()">
                            <img src="assets/img/icons/stop.png"/>
                            <md-tooltip md-direction="down">  توقف </md-tooltip>
                        </md-button>


                        <md-button class="circle-btn" ng-show="state.status === 'stop' " ng-click="resetRecord()">
                            <img src="assets/img/icons/refresh.png"/>
                            <md-tooltip md-direction="down">  ضبط مجدد </md-tooltip>
                        </md-button>


                        <md-button class="circle-btn" ng-show="state.status === 'stop' " ng-click="stopRecord()">
                            <img src="assets/img/icons/upload2.png"/>
                            <md-tooltip md-direction="down">  بارگذاری </md-tooltip>
                        </md-button>
                    </div>


                </div>






                <div class="text head title" ng-show="state.mode !== 'record' "> روش های ارسال صوت </div>
                <div layout="row" layout-align="space-around center" style="width: 170px;" ng-show="state.mode !== 'record' ">
                    <md-button class="circle-btn" ng-click="record()">
                        <img src="assets/img/icons/mic.png"/>
                        <md-tooltip md-direction="down">  میکروفن </md-tooltip>
                    </md-button>
                    <div layout="row">
                        <div class="text mini-size">

                        </div>
                    </div>
                    <md-button class="circle-btn" ng-click="upload()" ng-show="state.mode !== 'record' " >
                        <img src="assets/img/icons/upload.png"/>
                        <md-tooltip md-direction="down"> بارگذاری فایل </md-tooltip>
                    </md-button>
                </div>
            </div>



        </div>


    </md-card>
</div>