#updateUser , #updateRoles{
    width: 850px;
}

#updateUser .customForm , #updateRoles .customForm{
    display: block;
    text-align: center;
    overflow-y: auto;
}
#updateUser .section.account md-input-container{
    color: #fff;
   
}
#updateUser .section.account div.row .connector{
    width: 1px;
    height: 15%;
    background-color: #239F96;
    position: absolute;
    right: 28px;
    z-index: 9999999;
    bottom: 3px;
}
#updateUser .section.account .icons{
    box-shadow: inset 2px 0 4px #777;
    height: 29px;
    margin-top: 2px;
    transition: 1s all ease;
}
#updateUser .section.account .icons.focus{
    border-bottom:1px solid #239F96;
    color: #239F96;
}
#updateUser .section.account .toggle {
    height: 31px;
    position: absolute;
    left: 5px;
    margin-top: 3px;
    box-shadow: inset 2px 0 4px #777;
    background-color: #fff;
}
#updateUser .section.account .toggle .button.finger{
    width: 30px;
    height: 30px;
}

#updateRoles .vpane{
    min-height: 50px;
    border: 1px dashed #ccc;
    background-color: #f9f9f9;
}
#updateRoles .vpane .vpane_header{
    font-weight: 800;
    box-shadow: inset 0 0 1px 0 #000000;
    background-color: #27a198;
    color: #fff;
}
#updateRoles .section.roles md-checkbox{
    padding: 5px 10px !important;
    text-align: center;
    width: 250px;
}
#updateRoles .section.roles .role .name{
    font-weight: 800;
}
#updateRoles .section.roles .role .company{
    color: #239f96;
    font-size: 11px;
}

#updateUser .button .spinner.dark path , #updateRoles .button .spinner.dark path{
        stroke:  #fff !important;
}



#references {
    width: 1000px;
    min-height: 450px;
}
#references .card {
    margin: 0;
}
#references .card .list-footer .col .button {
    margin: 0;
}
#references .customDataGrid .card-head .searchWrapper .button.add{
    left: 45px;
}

#references .customDataGrid.card .col .button {
    height: 30px;
    margin-top: unset;
    width: 30px;
}

#enroll{
    width: 900px;
    min-height: 400px;
}
#enroll .text.title{
    color: #3a4f5d;
    /*font-weight: bold;*/
}



#enroll .highlight_input md-input-container{
    width: 700px;
}
#enroll textarea.prompt{
    height: 180px;
    width: 770px;
    background-color: #48535a;
    border: 0;
    resize: none;
    box-shadow: inset 0 0 3px #000;
    /* pointer-events: none; */
    border-radius: 6px;
    color: #fff;
    font-family: ISN, IS, "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 15px;
    text-align: justify;
    line-height: 30px;
    font-size: 15px;
    user-select: none;
    outline: none;
    text-shadow: 0 0 2px #000;
}




#enroll .recorder{
    height: 100px;
    min-width: 100px;
}

#enroll .recorder .live{
    /*background-color: #46535bcf;*/
    border-radius: 4px;
    width: 100%;
}

#enroll .timer{
    font-size: 16px;
    direction: ltr;
    /* text-shadow: 0 0 3px #000; */
    color: #101010;
    padding-right: 10px;
}


#enroll .wrap {
    /*margin: 20px;*/
}

#enroll .live-circle-space {
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#enroll .main-circle {
    width: 10px;
    height: 10px;
    background: #e83922;
    border-radius: 50%;
    position: relative;
    z-index: 15;
}
#enroll .main-circle:after {
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid #e83922;
    content: " ";
    border-radius: 50%;
    opacity: 1;
    position: absolute;
    z-index: -5;
    animation: pulse 5s infinite 1s;
    transform-origin: center center;
    opacity: 0;
    left: -1px;
    top: -1px;
}

@keyframes pulse {
    25% {
        opacity: 1;
    }
    50% {
        transform: scale(2);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
