<div id="updateUser" class="card customForm" layout="column">
    <div class="card-head" flex="nogrow"> {{user.mode === 'create' ?  user.fullname + 'افزودن کاربر' : 'ویرایش کاربر' }}
        <md-button class="button finger fab close" ng-click="reject()">
            <md-icon class="icon" md-font-library="material-icon">close</md-icon>
        </md-button>
    </div>

    <div class="section" layout="row" layout-align="center center">
        <form class="row" name="uploadForm" flex="nogrow" layout="column" layout-align="center center"
              form-validation="{submit: UploadSubmit}">
            <div class="imagecrop-container">
                <div class="imagecrop-preview" ng-click="upload = true" ng-show="!upload">
                    <img ng-src="{{avatar_url ? avatar_url : avatarDir + '/' + user.username + '?t=' + (today | date : 'sssdy') }} "
                         onerror="this.src='assets/img/icons/avatar-dark.png'"
                         check-image="assets/img/icons/avatar-dark.png" alt="User Avatar"/>

                    <!--<img data-ng-src="{{avatar_url}}" data-err-src="assets/img/icons/avatar-dark.png"/>-->

                    <div class="image-input-overlay">
                        <md-icon class="icon" font-icon-library="material-icons">file_upload</md-icon>
                    </div>
                </div>
                <div class="imagecrop-input" ng-show="upload">
                    <div class="imagecrop-area" ng-model="image" accept=".jpg"  ngf-pattern="'.jpg'" ngf-select
                         ngf-drop>
                        <div class="imagecrop-area-text" ng-hide="image">تصویر خود را انتخاب کنید!</div>
                        <img-crop class="imagecrop-area-input" image="image | ngfDataUrl"
                                  result-image="imageCrop" ng-init="imageCrop=''"
                                  ng-click="ImageSelect($event)"></img-crop>
                    </div>
                    <div class="image-input-overlay">
                        <md-button class="button" aria-label="Submit Form" type="submit" ng-show="image"
                                   md-no-ink>
                            <md-icon class="icon" font-icon-library="material-icons"
                                     ng-hide="uploadForm.$lock">file_upload
                            </md-icon>
                            <md-progress-circular class="spinner" md-mode="indeterminate"
                                                  md-diameter="30"
                                                  ng-hide="!uploadForm.$lock"></md-progress-circular>
                        </md-button>
                        <div class="button" aria-label="Reset Form" ng-click="upload = false"
                             ng-hide="image">
                            <md-icon class="icon" font-icon-library="material-icons">close</md-icon>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>



    <form name="userForm" class="customForm" layout="column" flex   form-validation="{submit: UserSubmit}">
        <div class="section account">


            <div class="highlight_input" layout="row" layout-align="center center">
                <div class="placeholder" layout="column" layout-align="center center">
                    <md-icon class="icon" font-icon-library="material-icons">
                        perm_identity
                    </md-icon>
                </div>
                <md-input-container class="username" md-no-float>
                <input ng-model="user.username" placeholder="نام کاربری"
                aria-label="username" ng-required="mode === 'create' "  ng-disabled="mode === 'edit' ">
                </md-input-container>
            </div>

        </div>
        <!--<button class="titleEffect" disabled>-->
            <!--اطلاعات کاربر-->
        <!--</button>-->
        <div class="section">
            <div class="row" layout="row" flex="nogrow" layout-align="space-between start">
                <div layout="row" layout-align="center center" flex="20">
                    <div class="col text mini-size" flex="30"> نوع:</div>
                    <md-select ng-model="user.type" placeholder=""
                               class="md-no-underline" required>
                        <md-option value="user">کاربر</md-option>
                    </md-select>
                </div>

                <div layout="row" layout-align="center center" flex flex="30">
                    <div class="col text mini-size" flex="15"> نام کامل:</div>
                    <md-input-container md-no-float flex>
                        <input standard-keyboard name="fullname" ng-model="user.fullname" placeholder="" required>
                        <div class="errors" ng-messages="userForm.fullname.$error">
                            <div class="text message" ng-message="required">• ضروری است !</div>
                        </div>
                    </md-input-container>
                </div>

                <div layout="row" layout-align="center center" flex flex="45">
                    <div class="col text mini-size" flex="15"> توضیحات:</div>
                    <md-input-container md-no-float flex>
                        <input standard-keyboard name="description" ng-model="user.description" placeholder="">
                        <div class="errors" ng-messages="userForm.description.$error">
                            <div class="text message" ng-message="required">• ضروری است !</div>
                        </div>
                    </md-input-container>
                </div>

            </div>

        </div>

        <div class="section" layout="row" layout-align="center end" flex>
            <div class="row" layout="row" flex="nogrow" layout-align="space-between center">
                <div class="actions" layout="row" layout-align="center center" flex>
                    <md-button type="submit" class="button primary"  ng-disabled="userForm.$invalid"
                               aria-label="submit Form">
                        <span ng-hide="userForm.lock"> ثبت </span>
                        <md-progress-circular class="spinner dark" md-mode="indeterminate" md-diameter="30" ng-if="userForm.lock"></md-progress-circular>
                    </md-button>
                </div>
            </div>
        </div>
    </form>

</div>