<div id="login" layout="column" flex>
    <div class="navbar header" layout="row" flex="nogrow">
        <md-button class="login" ng-click="return()" >
            <img src="assets/img/icons/return.png"/>
            <md-tooltip md-direction="down"> ورود به صفحه ی اصلی </md-tooltip>
        </md-button>
    </div>
    <div class="content" layout="column" layout-align="center center" flex="80">



        <form class="row" name="loginForm" flex="nogrow" layout="column" layout-align="center center" form-validation="{submit: loginSubmit}">

            <div class="input" layout="row" layout-align="center center">
                <div class="placeholder" layout="column" layout-align="center center">
                    <md-icon class="icon" font-icon-library="material-icons">
                        perm_identity
                    </md-icon>
                </div>
                <md-input-container class="username" md-no-float>
                    <input ng-model="login.username" placeholder="نام کاربری"
                           aria-label="username" required>
                </md-input-container>
            </div>


            <div class="input" layout="row" layout-align="center center">
                <div class="placeholder" layout="column" layout-align="center center">
                    <md-icon class="icon" font-icon-library="material-icons">
                        vpn_key
                    </md-icon>
                </div>
                <md-input-container class="username" md-no-float>
                    <input  ng-model="login.password" placeholder="گذرواژه"
                           ng-init="password = false" ng-attr-type="{{password ? 'text' : 'password' }}"
                           aria-label="password" required>
                </md-input-container>
                <div class="toggle" flex="nogrow">
                    <md-button class="button finger" ng-mousedown="password = true"
                               ng-mouseup="password = false" ng-mouseleave="password = false"
                               ng-click="password = false" aria-label="Toggle password">
                        <md-icon class="icon ion-icons" md-font-icon="ion-eye-off" ng-if="!password"></md-icon>
                        <md-icon class="icon ion-icons" md-font-icon="ion-eye-on" ng-if="password"></md-icon>
                    </md-button>
                </div>
            </div>
            <div class="input" layout="row" layout-align="center center">
                <md-button class="button submit" ng-disabled="loginForm.$invalid || loginForm.lock" type="submit">
                    <md-progress-circular class="spinner dark" md-mode="indeterminate" md-diameter="30"
                                          ng-if="loginForm.lock"></md-progress-circular>
                    <span ng-if="!loginForm.lock"> ورود </span>
                </md-button>
            </div>


        </form>
        <!--<form action="https://httpbin.org/post" method="POST" class="form login">-->

            <!--<div class="form__field">-->
                <!--<label for="login__username"><svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#user"></use></svg><span class="hidden">Username</span></label>-->
                <!--<input id="login__username" type="text" name="username" class="form__input" placeholder="نام کاربری" required>-->
            <!--</div>-->

            <!--<div class="form__field">-->
                <!--<label for="login__password"><svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lock"></use></svg><span class="hidden">Password</span></label>-->
                <!--<input id="login__password" type="password" name="password" class="form__input" placeholder="گذرواژه" required>-->
            <!--</div>-->

            <!--<div class="form__field">-->
                <!--<input type="submit" value="ورود">-->
            <!--</div>-->

        <!--</form>-->
    </div>

</div>





