#login {
    background-color: #fff;
    background-image: url(/assets/img/pic/pattern1.png);
}
#login .md-button.login{
    width: 48px;
    height: 48px;
    min-width: 48px;
    /*margin: 0;*/
    border-radius: 50%;
    margin : 20px;
    box-shadow: 0 0 1px #000;
    padding: 2px;
    background-color: #fff;
}
#login .md-button.login img{
    height: 100% ;
    width: auto ;
}
#login .navbar.header {
    /*background-color: #3e3e3e;*/
    /*box-shadow: 0px 2px 9px #525252;*/
    color: #fff;
}
#login .navbar.footer{
    background-color: #3e3e3e;
    color: #fff;
    height: 35px;
    box-shadow: 0 -2px 9px #afafaf;
}



#login .content .input{
    margin: 10px;
}
#login .content .placeholder{
    width: 56px;
    height: 60px;
    background-color: #363b41;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#login .content .placeholder .icon{
    font-size: 24px;
    text-align: center;
    height: 35px;
    width: 35px;
    margin: auto;
    color: #ffffffb8;
    font-weight: normal;
    line-height: 35px;
}
#login .content md-input-container{
    width: 264px;
    height: 60px;
    padding: 0;
    margin: 0;
}

#login .content md-input-container input::placeholder {
    color: rgba(125, 125, 125, 0.72);
}
#login .content md-input-container input::-ms-input-placeholder{
    color: rgba(125, 125, 125, 0.72);
}
#login .content md-input-container input:-ms-input-placeholder{
    color: rgba(125, 125, 125, 0.72);
}



#login .content md-input-container input{
    height: 60px;
    background-color: #3b4148;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    color: #fff;
    font-size: 16px;
    padding: 10px;
}

#login .content md-input-container input:hover , #login .content md-input-container input:focus{
    background-color: #434a52;
}


#login .content .md-errors-spacer{
    display: none;
}

#login .content .button.submit{
    width: 320px;
    height: 53px;
    background-color: #28c38a;
    color: #fff;
    border-radius: 5px;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

#login .content .button.submit:hover{
    background-color: #24af7c;
}


#login .content .input .toggle{
    position: absolute;
    left: 25px;
}
#login .content .input .toggle .button.finger{
    line-height: 40px;
    height: 60px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: #c7c8ca;
}




